{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Autobot Alerts and Incident Management">
        <meta name="keyword" content="Bootstrap Angular">

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

        <title>Autobot - DEV</title>

        <!--datatables-->
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <!--<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet">-->
        <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/loader.css">


        <!-- Icons -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">

        <!-- Main styles for this application -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.all.min.js"></script>
        <!-- AngularJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

    </head>
    <body onload="loadData()">
        <ol class="breadcrumb" style="margin-bottom: 0px !important">
            <li class="breadcrumb-item">Autobot</li>
            <li class="breadcrumb-item active">Admin - Bot IA</li>
        </ol>
        <div id="loader" style="display:block;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
        <div id="myDiv" style="display:none; margin-top: 2%">
            <div class="col-md-12 btn">
                <button class="btn btn-primary" style="border-radius: 5px" onclick="addAction()">Add New Autobot Action</button>
            </div>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="card-block">
                                <table id="dataTable" class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% include 'bot_ia_modal.html' %}
{% endblock %}
{% block scripts %}
<script>
    var list_types = new Array;
    var my_id;

    setTimeout(displayBlock, 500);

    function displayBlock(){
        document.getElementById("myDiv").style.display = "block";
        document.getElementById("loader").style.display = "none";
    }

    function escapeHtml(text) {
        var map = {
            '&': '&amp;',
            '"': '&quot;',
            "'": '&#039;'
        };

        return text.replace(/\n/g, "<br>").replace(/\r/g,' ').replace(/[&"']/g, function(m) { return map[m]; });
    }

    function decodeHtml(text) {

        return text.replace(/&amp;/g,'&').replace(/&quot;/g,'"').replace(/&#039;/g,"'").replace(/<br>/g,'\n')}

    function loadData(){

        $.ajax({
            url: '/admin_skype_bot_ia_data',
            //type: 'POST',
            dataType: "json",
            success: function(data){
                var result = [];
                for(var i = 0; i < data["skype_bot_ia_row"].length; i++){
                    result[i] = [];
                    for(var j = 0; j < data["skype_bot_ia_row"][i].length; j++){
                        if(/^[0-9]/.test(data["skype_bot_ia_row"][i][j]) == true){
                            result[i][j] = data["skype_bot_ia_row"][i][j];
                        }else if(data["skype_bot_ia_row"][i][j] == null){
                            result[i][j] = null;
                        }else{
                            result[i][j] = escapeHtml(data["skype_bot_ia_row"][i][j]);
                        }
                    }
                }

                if ( $.fn.DataTable.isDataTable( '#dataTable' ) ) {
                    $('#dataTable').dataTable().fnClearTable();
                    $('#dataTable').dataTable().fnDraw();
                    $('#dataTable').dataTable().fnDestroy();
                }
                $('#dataTable thead').empty();
                $('#dataTable tbody').empty();
                $('<tr></tr>')
                    .append($('<th></th>').html("ID"))
                    .append($('<th></th>').html("Sentence"))
                    .append($('<th></th>').html("Arg1"))
                    .append($('<th></th>').html("Arg2"))
                    .append($('<th></th>').html("Action"))
                    .append($('<th></th>').html("Response"))
                    .append($('<th></th>').html("Validation"))
                    .append($('<th></th>').html("Type"))
                    .append($('<th></th>').html("Edit"))
                    .append($('<th></th>').html("Delete"))
                    .appendTo($('#dataTable thead'));

                list_types = []; //empty the array before assign data
                for (var i = 0; i < data["list_types"].length; i++){
                    list_types.push(data["list_types"][i][0]);
                }

                $.each(result, function(i,row){

                    $('<tr></tr>')
                        .append($('<td></td>').html(row[0]))
                        .append($('<td></td>').html(row[1]))
                        .append($('<td></td>').html(row[2]))
                        .append($('<td></td>').html(row[3]))
                        .append($('<td></td>').html(row[4]))
                        .append($('<td></td>').html(row[5]))
                        .append($('<td></td>').html(row[6]))
                        .append($('<td></td>').html(row[7]))
                        .append($('<td></td>').attr("id",row[0]).append($('<center></center>').append($('<button></button>').attr("onclick","editAction('"+row[0]+"','"+row[1]+"','"+row[2]+"','"+row[3]+"','"+row[4]+"','"+row[5]+"','"+row[6]+"','"+row[7]+"')").css("border-radius","5px").addClass("btn btn-primary btn-sm").append($('<i></i>').addClass('fa fa-edit')))))
                        .append($('<td></td>').append($('<center></center>').append($('<button></button>').attr("onclick","JSalert('"+row[0]+"','"+row[1]+"','"+row[2]+"','"+row[3]+"','"+row[4]+"','"+row[5]+"','"+row[6]+"','"+row[7]+"')").css("border-radius","5px").addClass("btn btn-danger btn-sm").append($('<i></i>').addClass('icon-ban')))))
                        .appendTo($('#dataTable tbody'));
                });
                $('#dataTable').DataTable({
                    "order": [[ 0, "asc" ], [ 1, "asc" ]],
                    dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                    buttons: [ 
                        {
                            extend: 'excel', 
                            title: 'Backup Search', 
                            text: 'Excel',
                            titleAttr: 'Excel'
                        } 
                    ]
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function convertValidation(value){
        if (value == "True"){
            var validation = 1;
        }else{
            var validation = 0;
        }
        return validation;
    }

    function displayListTypes(value){
        //Display options for types
        var listOfTypes = list_types;
        if(value == "server"){
            value = "Server";
        }

        for (var i = 0; i < listOfTypes.length; i++){
            var options_types = new Option(listOfTypes[i], listOfTypes[i]);
            options_types.id=listOfTypes[i];
            document.getElementById("types_modal").options[i] = options_types;
        }
        if(value != ""){
            document.getElementById(value).selected = "true";
        }   
    }

    function displayListValidation(value){
        //Display options for validation
        var listOfValidation = ["True","False"];
        for (var i = 0; i < listOfValidation.length; i++){
            var options_validation = new Option(listOfValidation[i], listOfValidation[i]);
            options_validation.id=listOfValidation[i];
            document.getElementById("validation_modal").options[i] = options_validation;
        }
        if(value != ""){
            document.getElementById(value).selected = "true";
        }  
    }

    function deleteBdd(id){
        $.ajax({
            url: '/delete_bdd',
            data: {'type': "skype_bot_ia", 'id' : id},
            //type: 'POST',
            dataType: 'json',
            success : function(){
                loadData();//Refresh datas of the table
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function JSalert(id,sentence,arg1,arg2,action,response,validation,type){
        Swal({
            title: 'Are you sure to delete ?',
            html:
            `<table class="table">
<tr>
<th>ID</th>
<th>Message</th>
<th>Object</th>
<th>Criticity</th>
    </tr>
<tr>
<td>`+id+`</td>
<td>`+sentence+`</td>
<td>`+arg1+`</td>
<td>`+arg2+`</td> 
    </tr>

<tr>
<th>Group</th>
<th>Category</th>
<th>Hostname</th>
<th>Weight</th>
    </tr>
<tr>
<td>`+action+`</td>
<td>`+response+`</td> 
<td>`+validation+`</td> 
<td>`+type+`</td> 
    </tr>
    </table>`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            width:800,

        }).then((result) => {
            if (result.value) { //if confirmation to delete
                Swal(
                    'Deleted!',
                    'The correspondance is deleted from the table',
                    'success'
                ),
                    deleteBdd(id);
            }
        });
    }

    function editBdd(sentence,argument1,argument2,action,response,validation,type){
        $.ajax({
            url: '/edit_bdd',
            data: {'type': "skype_bot_ia",'my_id':my_id, 'sentence':sentence, 'argument1': argument1, 'argument2': argument2, 'action': action, 'response': response, 'validation': validation, 'type_ia': type },
            //type: 'POST',
            dataType: 'json',
            success : function(){
                loadData();//Refresh datas of the table
            },
            error: function(error) {
                console.log(error);
            }
        }); 
    }

    function editAction(id,sentence,arg1,arg2,action,response,validation,type_data){
        $("#editModal").modal();
        document.getElementById("modal_title").innerHTML = "Edit Action for Autobot";

        if(validation == 1){
            var valid = "True";
        }else{
            var valid = "False"
            }

        displayListValidation(valid);

        displayListTypes(type_data);

        document.getElementById("id_modal").value=id;
        document.getElementById("sentence_modal").value=decodeHtml(sentence);
        document.getElementById("argument1_modal").value=decodeHtml(arg1);
        document.getElementById("argument2_modal").value=decodeHtml(arg2);
        document.getElementById("action_modal").value=decodeHtml(action);
        document.getElementById("response_modal").value=decodeHtml(response);

        type = "edit";
        my_id = id;

        document.getElementById("validate_button").removeAttribute("data-dismiss");//don't quit the modal if we validate with error
        document.getElementById("display_error").innerHTML = "";
    }

    function addBdd(sentence,argument1,argument2,action,response,validation,type){


        $.ajax({
            url: '/add_bdd',
            data: {'type':"skype_bot_ia",'sentence': sentence, 'argument1': argument1, 'argument2': argument2, 'action': action, 'response': response, 'validation': validation, 'type_ia': type },
            //type: 'POST',
            dataType: 'json',
            success : function(){
                loadData(); //Refresh datas of the table
            },
            error: function(error) {
                console.log(error);
            }
        });
    } 

    function addAction(){
        $("#editModal").modal();
        document.getElementById("modal_title").innerHTML = "Add Action for Autobot";

        document.getElementById("sentence_modal").value = "";
        document.getElementById("argument1_modal").value = ""; 
        document.getElementById("argument2_modal").value = ""; 
        document.getElementById("action_modal").value = ""; 
        document.getElementById("response_modal").value = "";
        displayListTypes("");
        displayListValidation("");

        type = "add";

        document.getElementById("validate_button").removeAttribute("data-dismiss");
        document.getElementById("display_error").innerHTML = "";
    }

    function displayError(listOfErrors){
        var list_errors = {
            1 : "All text fields must be filled",
            2 : "The type doesn't exist in the list",
            3 : "The validation doesn't exist in the list",          
        }
        var parents = document.getElementById("display_error"); 
        parents.innerHTML = ""; //clear the last error

        //display all error in listOfErrors
        for (var i = 0; i < listOfErrors.length; i++){
            var li = document.createElement('li');
            li.innerHTML = list_errors[listOfErrors[i]];
            li.style.color = 'red';
            parents.appendChild(li);
        }
    }

    function checkData(){
        var new_sentence = document.getElementById("sentence_modal").value;
        var new_argument1 = document.getElementById("argument1_modal").value;
        var new_argument2 = document.getElementById("argument2_modal").value;
        var new_action = document.getElementById("action_modal").value;
        var new_response = document.getElementById("response_modal").value;
        var new_validation = document.getElementById("validation_modal").value;
        var new_type = document.getElementById("types_modal").value;

        var listOfErrors = new Array;//Add error in listOfErrors


        if(!new_sentence || !new_argument1 || !new_argument2 || !new_action || !new_response || !new_validation || !new_type){
            listOfErrors.push(1);
        }

        if(new_type == "null"){
            new_type = null;
        }

        if(list_types.indexOf(new_type) == -1){
            listOfErrors.push(2);
        }

        var list_validation = ["True", "False"];

        if(list_validation.indexOf(new_validation) == -1){
            listOfErrors.push(3);
        }

        var valid = convertValidation(new_validation);

        if (listOfErrors.length == 0){
            if (type == "add"){
                addBdd(new_sentence,new_argument1,new_argument2,new_action,new_response,valid,new_type);
                document.getElementById("validate_button").setAttribute("data-dismiss","modal");
            }else if (type == "edit"){
                editBdd(new_sentence,new_argument1,new_argument2,new_action,new_response,valid,new_type);
                document.getElementById("validate_button").setAttribute("data-dismiss","modal");
            }
        }
        displayError(listOfErrors);//function for display all errors    
    }


</script>
<script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
{% endblock %}