{% load static%}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Autobot Alerts and Incident Management">
        <meta name="keyword" content="Bootstrap Angular">

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

        <title>Autobot - DEV</title>

        <!--datatables-->
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <!--<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet">-->
        <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/loader.css">


        <!-- Icons -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">

        <!-- Main styles for this application -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">

        <!-- AngularJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    </head>

    <body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden" ng-app="app">
        <header class="app-header navbar">
            <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">☰</button>
            <a class="navbar-brand" href="/">Autobot</a><!-- trUth = http://autobot-prp/Autobot/truth.jpg -->
            <ul class="nav navbar-nav d-md-down-none">
                <li class="nav-item">
                    <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item px-3">
                    <button class="btn btn-danger" style="border-radius: 5px" onclick="Logout()"> Logout </button>
                </li>
            </ul>
        </header> 



        <div class="app-body">
            <div class="sidebar">
                <nav class="nav">

                    <ul class="nav">
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link" href="/"><i class="icon-home"></i> Home </a>
                        </li>
                    </ul>

                    <ul class="nav">
                        <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle"><i class="icon-speedometer"></i> Supervision </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item" style="padding-left: 20px;">
                                    <a class="nav-link" onclick="myFunction()" href="/truesight_dashboard"><i class="icon-home"></i>Dashboard</a>
                                </li>
                                <li class="nav-item" style="padding-left: 20px;">
                                    <a class="nav-link" onclick="myFunction()" href="/workflow"><i class="icon-shuffle"></i>Top Workflow</a>
                                </li>
                                <li class="nav-item" style="padding-left: 20px;">
                                    <a class="nav-link" onclick="myFunction()" href="/server"><i class="fa fa-server fa-lg m-t-2"></i>Top Server</a>
                                </li>
                                <li class="nav-item" style="padding-left: 20px;">
                                    <a class="nav-link" onclick="myFunction()" href="/search_ts"><i class="fa fa-search fa-lg m-t-2"></i>Search</a>
                                </li>
                                <li class="nav-item" style="padding-left: 20px;">
                                    <a class="nav-link" onclick="myFunction()" href="/table_crt"><i class="fa fa-cogs fa-lg m-t-2"></i>Configuration</a>
                                </li>
                                </li>
                    </ul>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle"><i class="fa fa-save fa-lg m-t-2"></i> Backup </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item" style="padding-left: 20px;">
                                <a class="nav-link" onclick="myFunction()" href="/dashboard_backup"><i class="icon-home"></i>Dashboard</a>
                            <li class="nav-item" style="padding-left: 20px;">
                                <a class="nav-link" onclick="myFunction()" href="/server_backup"><i class="fa fa-server fa-lg m-t-2"></i>Top Server</a>
                            <li class="nav-item" style="padding-left: 20px;">
                                <a class="nav-link" onclick="myFunction()" href="/search_backup"><i class="fa fa-search fa-lg m-t-2"></i>Search</a>
                        </ul>
                    </li>
                    <ul class="nav">
                        <li class="nav-item nav-dropdown" onclick="checkAccesRight()">
                            <a class="nav-link nav-dropdown-toggle"><i class="icon-user"></i> Personal Assistant  </a>
                            <ul class="nav-dropdown-items adminPart">
                                <li class="nav-item" style="padding-left: 20px;">
                                    <a class="nav-link" onclick="myFunction()" href="/personalassistant_dashboard"><i class="icon-home"></i>Dashboard</a>
                                </li>
                                <li class="nav-item" style="padding-left: 20px;">
                                    <a class="nav-link" onclick="myFunction()" href="/search_assistant"><i class="fa fa-search fa-lg m-t-2"></i>Search</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="absolute-sidebar" >
                    <p align="center">
                        <a href="sip:autobot_paris.fr@louisvuitton.com">
                            <img align="center" border="0" src="/static/img/skype.png" width="50" height="50" title="click Here in order to talk with Autobot to ask him to work for you :-)">
                        </a>
                    </p>
                    <p align="center">Contact Autobot</p>
                </div> 
            </div>


            <!-- Main content -->
            <main class="main">

                {% block content %}

                {% endblock %}
            </main>


        </div>

        <footer class="app-footer">
            <a href="#">Autobot</a> © Technical Support Center
            <!--  <span class="float-right">Powered by <a href="#">Neurones IT 2017</a>-->
            </span>
        </footer>

    <script>
        if('{{isAdmin}}'){
            sessionStorage.setItem('isAdmin',{{isAdmin}});
        }

        function Logout(){
            document.location.href="http://10.236.0.2:8000/logout";
        }

        function checkAccesRight(){
            var isAdmin = sessionStorage.getItem('isAdmin');
            var check = document.getElementById("confAdmin");
            if(isAdmin == 1 && !check ){
                $(".adminPart").append(`<li id="confAdmin" class="nav-item" style="padding-left: 20px;">
<a class="nav-link" onclick="myFunction()" href="/admin_skype_bot_ia"><i class="fa fa-cogs fa-lg m-t-2"></i>Configuration</a>
        </li>`);
            }
        }

    </script>


    <!-- Bootstrap and necessary plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>



    <!-- Plugins and scripts required by all views -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    <script src="{% static 'js/angular-chart/angular-chart.min.js' %}"></script>


    <!-- GenesisUI main scripts -->

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/views/loader.js' %}"></script>

    {% block scripts %}
    {% endblock %}

    </body>

</html>
