<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="margin-left:5%;margin-right:5%;margin-top:2.5%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal_title" class="modal-title">Title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="rowsignup container">
                <div class="modal-body modal-body-note col-md-12">
                    <center><div id="display_error"</div></center>
                    <form method="POST" action="/">
                        <div class="row">
                            <div class="form-group col-md-6">	    
                                <label class="col-form-label">ID</label>
                                <input id="id_modal" type="text" class="form-control" placeholder="ID" required="required" readonly>
                            </div>
                            <div class="form-group  col-md-6">
                                <label class=" col-form-label">Sentence*</label>
                                <input id="sentence_modal" type="text" class="form-control" placeholder="Sentence" required="required">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">	    
                                <label class="col-form-label">Argument 1*</label>
                                <input id="argument1_modal" type="text" class="form-control" placeholder="Argument 1" required="required">
                            </div>
                            <div class="form-group  col-md-6">
                                <label class="col-form-label">Argument 2*</label>
                                <input id="argument2_modal" type="texy" class="form-control"  placeholder="Argument 2" required="required">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">	    
                                <label class="col-form-label">Action*</label>
                                <input id="action_modal" type="text" class="form-control" placeholder="Action" required="required">
                            </div>
                            <div class="form-group  col-md-6">
                                <label class=" col-form-label">Response*</label>
                            <!--<input id="response_modal" type="text" class="form-control" placeholder="Response" required="required">-->
                                <textarea id="response_modal" type="text" class="form-control boxsizingBorder" placeholder="Response" required="required"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">	    
                                <label class="col-form-label">Validation*</label>
                                <select id="validation_modal" class="form-control">
                                <!-- Options add with JS -->
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="col-form-label">Type*</label>
                                <select id="types_modal" class="form-control">
                                    <!-- Options add with JS -->
                                </select>
                            </div>
                        </div>    
                        <center> <button id="validate_button" type="button" class="btn btn-primary" onclick="checkData()" style="border-radius: 5px">Valider</button></center>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>