{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<ol class="breadcrumb" style="margin-bottom: 0px !important">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Backup Dashboard</li>
</ol>
<div id="loader" style="display:none;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
<div id="myDiv" style="margin-top: 2%">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div id="idough" class="card" ng-controller="DoughnutCtrl">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Backup Failure</h4>
                                    <div class="small text-muted">{{today}}</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 hidden-sm-down">
                                    <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
</button>-->
                                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                            <label class="btn btn-outline-secondary active" ng-click="chooseDaterange('day')">
                                                <input type="radio" name="options" id="option1" checked="">Day
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('week')">
                                                <input type="radio" name="options" id="option2" ">Week
                                                                                                 </label>
                                                                                                 <label class="btn btn-outline-secondary" ng-click="chooseDaterange('month')">
                                                <input type="radio" name="options" id="option3" ">Month
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('year')">
                                                <input type="radio" name="options" id="option4">Year
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper" style="height:425px;margin-top:40px;">
                                <center>
                                    <div id="invisible" style="padding-top:160px">
                                        <h2> Nothing to display </h2> 
                                        <p id="explanation"></p>
                                    </div>
                                </center>
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="backgroundColor" chart-options="options"></canvas> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li class="hidden-sm-down">
                                    <strong>{[{dnc_success_cnt}]}
                                        <a id="index0" class="font-weight-bold font-xs btn-block click_backup_failure_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{backuptype[0]}]}|{[{backup_failure_details_type}]}" title="View Details for : Rerun Successfully">
                                            Rerun Successfully
                                        </a>
                                        ({[{dnc_success_pct}]})
                                    </strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar bg-green" role="progressbar" style="width: {[{dnc_success_pct}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="hidden-sm-down">
                                    <strong>{[{dnc_failure_cnt}]}
                                        <a id="index1" class="font-weight-bold font-xs btn-block click_backup_failure_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{backuptype[1]}]}|{[{backup_failure_details_type}]}" title="View Details for : Rerun Failed">
                                            Rerun Failed
                                        </a>
                                        ({[{dnc_failure_pct}]})
                                    </strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar bg-red" role="progressbar" style="width: {[{dnc_failure_pct}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li>
                                    <strong>{[{dnc_inprogress_cnt}]}
                                        <a id="index2" class="font-weight-bold font-xs btn-block click_backup_failure_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{backuptype[2]}]}|{[{backup_failure_details_type}]}" title="View Details for : Rerun In Progress">
                                            Rerun In Progress
                                        </a>
                                        ({[{dnc_inprogress_pct}]})
                                    </strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar bg-blue" role="progressbar" style="width: {[{dnc_inprogress_pct}]}" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                </li>
                            </ul>
                        </div>

                        <!-- Alerts trend data -->

                        <div class="row" style= "background-color: #e4e5e6">

                            <div class="col-sm-12 col-md-12">
                                <div class="card card-inverse card-grey">
                                    <div class="card-block pb-0">
                                        <h4 class="mb-0">{[{smtot}]} <font size="4px"> {[{timerange}]} </font> </h4>
                                        <p>Total Failure</p>
                                    </div>
                                    <div class="chart-wrapper px-3" style="height:70px;">
                                        <canvas id="alerts-total" class="chart" height="70"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->

                            <div class="col-sm-12 col-md-4">
                                <div class="card card-inverse card-green">
                                    <div class="card-block pb-0">
                                        <h4 class="mb-0">{[{sm0}]} <font size="4px"> {[{timerange}]} </font> </h4>
                                        <p>Total Rerun Successfully</p>
                                    </div>
                                    <div class="chart-wrapper px-3" style="height:70px;">
                                        <canvas id="alerts-inmain" class="chart" height="70"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->


                            <div class="col-sm-12 col-md-4">
                                <div class="card card-inverse card-red">
                                    <div class="card-block pb-0">
                                        <h4 class="mb-0">{[{sm1}]} <font size="4px"> {[{timerange}]} </font> </h4>
                                        <p>Total Rerun Failure</p>
                                    </div>
                                    <div class="chart-wrapper px-3" style="height:70px;">
                                        <canvas id="alerts-inreboot" class="chart" height="70"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->

                            <div class="col-sm-12 col-md-4" >
                                <div class="card card-inverse card-blue">
                                    <div class="card-block pb-0">
                                        <h4 class="mb-0">{[{sm2}]} <font size="4px"> {[{timerange}]} </font> </h4>
                                        <p>Total Rerun In Progress Alerts</p>
                                    </div>
                                    <div class="chart-wrapper px-3" style="height:70px;">
                                        <canvas id="alerts-dupli" class="chart" height="70"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->  

                        </div>
                        <!-- /.Alerts trend data -->

                    </div>
                    <!--/.card-->
                </div>
            </div>
        </div>


    </div>
</div>
{% include 'backup_failure_modal.html' %}
<!-- /.conainer-fluid -->

{% endblock %}

{% block scripts %}

<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<script>
    //Contains array with array for week,month,day
    <!-- var backup_sucess = {{backup_trend_data.success|safe}}; -->
        <!-- var backup_failure = {{backup_trend_data.failure|safe}}; -->
            <!-- var backup_inprogress = {{backup_trend_data.inprogress|safe}}; -->
                var data_d = {{data_quer|safe}};
    var day_data = data_d[0];
</script> 
<!-- <script src="{% static 'js/views/main.js' %}"></script> -->

<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<script>
    //console.log(test_f1);
    var choiceCopy = "Nothing";
    // var charts = angular.module('charts', ['main.js']);
    //var cardboard = angular.module('cardboard', ['chart.js']);
    var myApp = angular.module('app', ['chart.js'])
    .filter('split', function() {
        return function(input, splitChar, splitIndex) {
            // do some bounds checking here to ensure it has that index
            return input.split(splitChar)[splitIndex];
        }
    });
    myApp.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    myApp.controller("DoughnutCtrl", function ($scope,$window){
        $scope.backuptype = ['Rerun Sucessfully', 'Rerun Failed', 'Rerun Pending'];
        $scope.labels = ['Success', 'Failure','In progress'];
        $scope.data = {{backup_cnt.day|safe}};
                     $scope.backgroundColor = ['#4dbd74','#f86c6b','#36A2EB'];
                     $scope.options = {
                     legend: {
                     display: true,
                     position: 'top',
                     },
                     maintainAspectRatio: false,
                     'onClick' : function (evt, item) {
        if ( item.length > 0 ){
            console.log(item);
            var a = item[0]["_index"];
            var id = "index"+a;
            console.log(id);
            $('#'+id).click();
        }
    }
    };

    $scope.backup_failure_details_type = 'day'; 

    $scope.dnc_success_cnt = {{backup_cnt.day.0|safe}};
    $scope.dnc_failure_cnt = {{backup_cnt.day.1|safe}};
    $scope.dnc_inprogress_cnt = {{backup_cnt.day.2|safe}};
    $scope.dnc_success_pct = "{{backup_pct.day.Success|safe}}";
    $scope.dnc_failure_pct = "{{backup_pct.day.Failure|safe}}";
    $scope.dnc_inprogress_pct = "{{backup_pct.day.InProgress|safe}}";
    $('#option1').click();
    var tab = $window.day_data
    $scope.smtot = tab[3].reduce((pv, cv) => pv+cv, 0);
    $scope.sm0 = tab[0].reduce((pv, cv) => pv+cv, 0);
    $scope.sm1 = tab[1].reduce((pv, cv) => pv+cv, 0);
    $scope.sm2 = tab[2].reduce((pv, cv) => pv+cv, 0);

    $scope.timerange = "For The Last 7 Days"

    $scope.chooseDaterange = function(choice){
        var python = {{data_quer|safe}};
    var array_data = [];
    checkCount(choice);
    if(choice=="day"){
        array_data = python[0];

        $scope.data = {{backup_cnt.day|safe}};
    $scope.dnc_success_cnt= {{backup_cnt.day.0|safe}};
    $scope.dnc_success_pct = "{{backup_pct.day.Success|safe}}";
    $scope.dnc_failure_cnt = {{backup_cnt.day.1|safe}};
    $scope.dnc_failure_pct = "{{backup_pct.day.Failure|safe}}";
    $scope.dnc_inprogress_cnt = {{backup_cnt.day.2|safe}};
    $scope.dnc_inprogress_pct = "{{backup_pct.day.InProgress|safe}}";

    $scope.timerange = "For The Last 7 Days"

    $scope.backup_failure_details_type = 'day'; 

    }else if(choice=="week"){
        array_data = python[1];

        $scope.data = {{backup_cnt.week|safe}};
    $scope.dnc_success_cnt= {{backup_cnt.week.0|safe}};
    $scope.dnc_success_pct = "{{backup_pct.week.Success|safe}}";
    $scope.dnc_failure_cnt = {{backup_cnt.week.1|safe}};
    $scope.dnc_failure_pct = "{{backup_pct.week.Failure|safe}}";
    $scope.dnc_inprogress_cnt = {{backup_cnt.week.2|safe}};
    $scope.dnc_inprogress_pct = "{{backup_pct.week.InProgress|safe}}";

    $scope.timerange = "For The Last 3 Weeks"

    $scope.backup_failure_details_type = 'week'; 

    }else if(choice=="month"){
        array_data = python[2];
        $scope.data = {{backup_cnt.month|safe}};
    $scope.dnc_success_cnt= {{backup_cnt.month.0|safe}};
    $scope.dnc_success_pct = "{{backup_pct.month.Success|safe}}";
    $scope.dnc_failure_cnt = {{backup_cnt.month.1|safe}};
    $scope.dnc_failure_pct = "{{backup_pct.month.Failure|safe}}";
    $scope.dnc_inprogress_cnt = {{backup_cnt.month.2|safe}};
    $scope.dnc_inprogress_pct = "{{backup_pct.month.InProgress|safe}}";

    $scope.timerange = "For The Last 3 Months"

    $scope.backup_failure_details_type = 'month'; 

    }else{
        $scope.data = {{backup_cnt.year|safe}};
    $scope.dnc_success_cnt= {{backup_cnt.year.0|safe}};
    $scope.dnc_success_pct = "{{backup_pct.year.Success|safe}}";
    $scope.dnc_failure_cnt = {{backup_cnt.year.1|safe}};
    $scope.dnc_failure_pct = "{{backup_pct.year.Failure|safe}}";
    $scope.dnc_inprogress_cnt = {{backup_cnt.year.2|safe}};
    $scope.dnc_inprogress_pct = "{{backup_pct.year.InProgress|safe}}";

    $scope.backup_failure_details_type = 'year'; 
    }              

    if (choice != "year"){
        tab = array_data;                
        $scope.sm0 = tab[0].reduce((pv, cv) => pv+cv, 0);
        $scope.sm1 = tab[1].reduce((pv, cv) => pv+cv, 0);
        $scope.sm2 = tab[2].reduce((pv, cv) => pv+cv, 0);
        $scope.smtot = tab[3].reduce((pv, cv) => pv+cv, 0);
        drawCardboard(choice,array_data);
    }
    };
    });

    function drawCardboard(choice,array_data){
        var d = new Date();
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";
        var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        var labels2 = [];
        for (var i=0; i<7; i++) {
            var d = new Date();
            d.setDate(d.getDate() - i);
            labels2.push( weekday[d.getDay()] )
        }
        labels = labels2.reverse();

        if (choice == "week"){

            Date.prototype.getWeek = function() {
                var onejan = new Date(this.getFullYear(), 0, 1);
                return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
            }
            var weekNumber = (new Date()).getWeek();
            var tab = ["Week "+(weekNumber-2),"Week "+(weekNumber-1),"Week "+(weekNumber)]
            labels = tab;

        }else if (choice == "month"){
            var d = new Date();
            var n = d.getMonth();
            var tab = new Array(3);
            for (var i=2;i>=0;i--){
                var pos = n - i;
                if (n-i < 0){
                    var pos = 12 + (n-i)
                    }
                tab[2-i] = months[pos];
            }
            labels = tab;
        }


        if (choice != "year"){
            var alerts_inmain = array_data[0];
            var alerts_reboot = array_data[1];
            var alerts_dupli  = array_data[2];
            var alerts_total  = array_data[3];
            $("#alerts-inmain").replaceWith(" <canvas id='alerts-inmain' class='chart' height='70'></canvas>");
            $("#alerts-inreboot").replaceWith(" <canvas id='alerts-inreboot' class='chart' height='70'></canvas>");
            $("#alerts-dupli").replaceWith(" <canvas id='alerts-dupli' class='chart' height='70'></canvas>");
            $("#alerts-total").replaceWith("<canvas id='alerts-total' class='chart' height='70'></canvas>");

            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.3)',
                        data: alerts_total
                    },
                ]
            };
            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                title : {
                    display: true,
                    text: '',
                    fontSize: 1
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            color: 'transparent',
                            zeroLineColor: 'transparent'
                        },
                        ticks: {
                            fontSize: 1,
                            fontColor: 'transparent',
                        }

                    }],
                    yAxes: [{
                        display: false,
                        ticks: {
                            display: false,
                            min: Math.min.apply(Math, data.datasets[0].data) - 5,
                            max: Math.max.apply(Math, data.datasets[0].data) + 5,
                        }
                    }],
                },
                elements: {
                    line: {
                        tension: 0.00001,
                        borderWidth: 1
                    },
                    point: {
                        radius: 4,
                        hitRadius: 10,
                        hoverRadius: 4,
                    },
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },
            };
            var ctx = $('#alerts-total');
            var alertstotal = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });

            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    /*xAxes: [{
                                display: false,
                                barPercentage: 0.6,
                            }],
                            yAxes: [{
                                display: false,
                            }]*/
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },
            };
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.3)',
                        borderColor: 'transparent',
                        data: alerts_inmain
                    },
                ]
            };
            var ctx = $('#alerts-inmain');
            var cardChart4 = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });

            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    /*xAxes: [{
                            display: false
                          }],
                          yAxes: [{
                            display: false
                          }],*/
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                },
                elements: {
                    line: {
                        borderWidth: 2
                    },
                    point: {
                        radius: 0,
                        hitRadius: 10,
                        hoverRadius: 4,
                    },
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },
            };

            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.2)',
                        borderColor: 'rgba(255,255,255,.55)',
                        data: alerts_reboot
                    },
                ]
            };
            var ctx = $('#alerts-inreboot');
            var alertsInMain = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });  

            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.3)',
                        borderColor: 'rgba(255,255,255,.55)',
                        data: alerts_dupli
                    },
                ]
            };
            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            color: 'transparent',
                            zeroLineColor: 'transparent'
                        },
                        ticks: {
                            fontSize: 2,
                            fontColor: 'transparent',
                        }

                    }],
                    yAxes: [{
                        display: false,
                        ticks: {
                            display: false,
                            min: Math.min.apply(Math, data.datasets[0].data) - 5,
                            max: Math.max.apply(Math, data.datasets[0].data) + 5,
                        }
                    }],
                },
                elements: {
                    line: {
                        borderWidth: 1
                    },
                    point: {
                        radius: 4,
                        hitRadius: 10,
                        hoverRadius: 4,
                    },
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },
            };
            var ctx = $('#alerts-dupli');
            var alertsDupli = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });
        }

    }     
    drawCardboard("day",day_data);

    $("#invisible").hide(); 
    $("#doughnut").show();
    checkCount("day");
    function checkCount(period){   
        var list = {{ backup_total | safe }};
    console.log(list[period]);

    Date.prototype.sthimezoneOffset = function(){
        var jan = new Date(this.getFullYear(), 0, 1);
        var jul = new Date(this.getFullYear(), 6, 1);
        return Math.max(jan.getTimezoneOffset(),jul.getTimezoneOffset());

    }

    Date.prototype.dst = function(){
        return this.getTimezoneOffset() < this.sthimezoneOffset()

    }

    var today = new Date();
    today.dst();
    var localoffset = -(today.getTimezoneOffset()/60);
    var destoffset = 1;
    if (today.dst()){
        destoffset = destoffset + 1;

    }

    var offset = destoffset-localoffset;

    var d = new Date( new Date().getTime() + offset * 3600 * 1000);
    var n = d.getHours();
    console.log(n);
    var str = "";
    if (n < 7){
        str = "Backup check not yet started";
    }else if ( n < 9){
        str = "Backup check is in progress";
    }
    else{
        str = "No Backup failure for today";
    }
    document.getElementById("explanation").innerHTML = str;

    if (list[period] == 0){
        console.log("correct "+period);
        $("#invisible").show();
        $("#doughnut").hide();
    }else{
        $("#invisible").hide();
        $("#doughnut").show();
    }
    }

    $(document).on("click", ".click_backup_failure_details", function () {
        $('#details-table').dataTable().fnClearTable();
        $('#details-table').dataTable().fnDraw();
        $('#details-table').dataTable().fnDestroy();
        var detailsValue = $(this).attr("value").split("|");
        console.log(detailsValue);
        var status = detailsValue[0];
        var DetailsType = detailsValue[1];
        //$(".modal-header #modal-ticket-no").text(region);

        $.ajax({
            url: '/backup_failure_details',
            data: {'status': status, 'DetailsType': DetailsType},
            //type: 'POST',
            dataType: "json",
            success: function(data) {
                <!-- for ( var i = 0; i < data['backup_failure_details'].length ; i++){ -->
                    <!-- data['backup_failure_details'][i][0]= '<a id="index'+i+' class="font-weight-bold font-xs btn-block click_CMDB_info_details" href="#" data-toggle="modal" data-target="#CMDBModal" value='+data['backup_failure_details'][i][0]+">"+data['backup_failure_details'][i][0]+"</a>"; -->
                        <!-- console.log(data['backup_failure_details']); -->
                        <!-- } -->
                            $('#details-table').DataTable({
                            responsive: true,
                            data: data['backup_failure_details'],
                            columns: [
                                { title: "Server Name" },
                                { title: "Error Code" },
                                { title: "Date" },
                                { title: "Policy" },
                                { title: "Schedule" },
                                { title: "Rerun State" },
                                { title: "Ticket" },
                            ],
                            dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                            buttons: [
                                {extend: 'excel', title: 'Backup Failure details', text: 'Excel', titleAttr: 'Excel'},
                            ],
                        });
                                                                                       if ( data['backup_failure_details'].length != 0 ){
                                                                                           $('.modal-title').text("Backup Failure Details - "+data['backup_failure_details'][0][5]);
                                                                                       }else {
                                                                                           $('.modal-title').text("Details");
                                                                                       }
                                                                                      },
                                                                                          error: function(error) {
                                                                                              console.log(error);
                                                                                          }
            });
        });


</script>
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
{% endblock %}

