{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Breadcrumb -->
<ol class="breadcrumb" style="margin-bottom: 0px !important">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Problem Dashboard</li>
</ol>
<div id="loader" style="display:none;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
<div id="myDiv" style="margin-top: 2%">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div id="idough" class="card" ng-controller="DoughnutCtrl">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Problems List</h4>
                                    <div class="small text-muted">List of Problems Opened & Closed</div>
                                    <div class="small text-muted">{{today}}</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 hidden-sm-down">
                                    <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
</button>-->
                                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                            <label class="btn btn-outline-secondary active" ng-click="chooseDaterange('week')">
                                                <input type="radio" name="options" id="option1" checked="">Week
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('month')">
                                                <input type="radio" name="options" id="option2">Month
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('year')">
                                                <input type="radio" name="options" id="option3">Year
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper" style="height:425px;margin-top:40px;">
                                <center>
                                    <div id="invisible" style="padding-top:160px;visibility: hidden;">
                                        <h2> Nothing to display </h2> 
                                        <p>(No server with more than 1 problem)</p>
                                    </div>
                                </center>
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="backgroundColor" chart-options="options"></canvas> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li class="hidden-sm-down">
                                    <strong>
                                        <a id="id_Open" class="font-weight-bold font-xs btn-block click_details_problem" href="#" data-toggle="modal" data-target="#myModal" value="Open|{[{problem_details_type}]}" title="View Details for problem opened">
                                            {[{dnc_open}]}
                                        </a>
                                        Opened
                                    </strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar" role="progressbar" ng-class="getClass($index, bgType)" style="width: {[{top_server_pct[$index]}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                                <li class="hidden-sm-down">
                                    <strong>
                                        <a id="id_Closed" class="font-weight-bold font-xs btn-block click_details_problem" href="#" data-toggle="modal" data-target="#myModal" value="Closed|{[{problem_details_type}]}" title="View Details for problem Closed">
                                            {[{dnc_close}]}
                                        </a>
                                        Closed
                                    </strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar" role="progressbar" ng-class="getClass($index, bgType)" style="width: {[{top_server_pct[$index]}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.card-->
                </div>
                <div class="col-sm-12 col-md-6">                  
                    <div id="idough" class="card" ng-controller="DoughnutCtrl2">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Top Problems</h4>
                                    <div class="small text-muted">Problems with highest linked tickets</div>
                                    <div class="small text-muted">{{today}}</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 hidden-sm-down">
                                    <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
</button>-->
                                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                            <label class="btn btn-outline-secondary active" ng-click="chooseDaterange('week')">
                                                <input type="radio" name="options" id="option1" checked="">Week
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('month')">
                                                <input type="radio" name="options" id="option2">Month
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('year')">
                                                <input type="radio" name="options" id="option3">Year
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper" style="height:425px;margin-top:40px;">
                                <!--<canvas id="canvas-6"></canvas>-->
                                <canvas id="doughnut2" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="backgroundColor" chart-options="options"></canvas> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li class="hidden-sm-down" ng-repeat="label in labels track by $index">
                                    <strong>
                                        <a id="id_{[{label}]}" class="font-weight-bold font-xs btn-block click_top_problem_details" href="#" data-toggle="modal" data-target="#myModal_top_problem" value="{[{label}]}|{[{top_problem_details_type}]}" title="View Details : {[{label | split:'.':0 | uppercase }]}">
                                            {[{label}]}
                                        </a>
                                        {[{top_problem_cnt[$index]}]} Tickets Linked
                                    </strong>
                                </li>
                            </ul>
                        </div>
                        <!--/.card-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'problem_modal.html' %}
    {% include 'top_problem_modal.html' %} 
    <!-- /.conainer-fluid -->
    {% endblock %}

    {% block scripts %}

    <script>

        var myApp = angular.module('app', ['chart.js'])
        .filter('split', function() {
            return function(input, splitChar, splitIndex) {
                // do some bounds checking here to ensure it has that index
                return input.split(splitChar)[splitIndex];
            }
        });
        myApp.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        });

        myApp.controller("DoughnutCtrl", function ($scope,$window){
            $scope.labels = ['Open','Closed'];
            $scope.data = {{problem_cnt.week|safe}};
                         $scope.backgroundColor = ['#63c2de','#4dbd74'];

                         $scope.dnc_open = "{{problem_cnt.week.0|safe}}";
                         $scope.dnc_close = "{{problem_cnt.week.1|safe}}";

                         $scope.options = {
                         legend: {
                         display: true,
                         position: 'top',
                         },
                         maintainAspectRatio: false,

                         'onClick' : function (evt, item) {
            if ( item.length > 0 ){
                var svname = item[0]["_model"]["label"];
                var id = "id_"+svname;
                console.log(id);
                $('#'+id).click();
            }
        }
        };
        $scope.problem_cnt = {};
        for(i=0;i<$scope.data.length;i++){
            $scope.problem_cnt[i] = $scope.data[i];
        }

        $scope.problem_details_type = 'week'; 

        $scope.bgType = ['bg-red','bg-green','bg-yellow','bg-blue','bg-orange'];
        $scope.getClass = function getClass(idx, list) {
            return list[idx];
        };

        $scope.chooseDaterange = function(choice){
            checkCount(choice);
            if(choice=="week"){

                $scope.data = {{problem_cnt.week|safe}};
            for(i=0;i<$scope.data.length;i++){
                $scope.problem_cnt[i] = $scope.data[i];
            }

            $scope.problem_details_type = 'week'; 

            $scope.dnc_open = "{{problem_cnt.week.0|safe}}";
            $scope.dnc_close = "{{problem_cnt.week.1|safe}}";
        }else if(choice=="month"){

            $scope.data = {{problem_cnt.month|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.problem_cnt[i] = $scope.data[i];
        }

        $scope.problem_details_type = 'month'; 

        $scope.dnc_open = "{{problem_cnt.month.0|safe}}";
        $scope.dnc_close = "{{problem_cnt.month.1|safe}}";
        }else{

            $scope.data = {{problem_cnt.year|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.problem_cnt[i] = $scope.data[i];
        }

        $scope.problem_details_type = 'year'; 

        $scope.dnc_open = "{{problem_cnt.year.0|safe}}";
        $scope.dnc_close = "{{problem_cnt.year.1|safe}}";
        } 
        };
        });

        myApp.controller("DoughnutCtrl2", function ($scope,$window){
            $scope.labels = {{top_problem_cnt.week.name|safe}};
                         $scope.data = {{top_problem_cnt.week.cnt|safe}};
                         $scope.backgroundColor = ['#FF6384','#4dbd74','#FFCE56','#63c2de','#f4850e'];

                         $scope.options = {
                         legend: {
                         display: true,
                         position: 'top',
                         },
                         maintainAspectRatio: true,
                         'onClick' : function (evt, item) {
            if ( item.length > 0 ){
                var svname = item[0]["_model"]["label"];
                var id = "id_"+svname;
                $('#'+id).click();
            }
        }
        };
        $scope.top_problem_cnt = {};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_problem_cnt[i] = $scope.data[i];
        }

        $scope.top_problem_details_type = 'week'; 

        $scope.bgType = ['bg-red','bg-green','bg-yellow','bg-blue','bg-orange'];
        $scope.getClass = function getClass(idx, list) {
            return list[idx];
        };

        $scope.chooseDaterange = function(choice){
            checkCount(choice);
            if(choice=="week"){
                $scope.labels = {{top_problem_cnt.week.name|safe}};
            $scope.data = {{top_problem_cnt.week.cnt|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_problem_cnt[i] = $scope.data[i];
        }
        $scope.top_problem_details_type = 'week'; 
        }else if(choice=="month"){
            $scope.labels = {{top_problem_cnt.month.name|safe}};
        $scope.data = {{top_problem_cnt.month.cnt|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_problem_cnt[i] = $scope.data[i];
        }

        $scope.top_problem_details_type = 'month'; 
        }else{
            $scope.labels = {{top_problem_cnt.year.name|safe}};
        $scope.data = {{top_problem_cnt.year.cnt|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_problem_cnt[i] = $scope.data[i];
        }
        $scope.top_problem_details_type = 'year'; 
        } 
        };
        });

        <!-- var canv = document.getElementById("doughnut"); -->
            <!-- var ctx = canv.getContext("2d"); -->

                $("#invisible").hide();
        checkCount("week");
        function checkCount(period){   
            var list = {{ top_problem_cnt | safe }};
        if (list[period]['cnt'].length == 0){
            $("#invisible").show();
        }else{
            $("#invisible").hide();
        }
        }


        $(document).on("click", ".click_details_problem", function () {
            $('#details-table').dataTable().fnClearTable();
            $('#details-table').dataTable().fnDraw();
            $('#details-table').dataTable().fnDestroy();

            var detailsValue = $(this).attr("value").split("|");
            var state = detailsValue[0];
            var problemDetailsType = detailsValue[1];

            //$(".modal-header #modal-ticket-no").text(region);

            $.ajax({
                url: '/problem_details',
                data: {'state': state, 'problemDetailsType': problemDetailsType},
                //type: 'POST',
                dataType: "json",
                success: function(data) {
                    $('#details-table').DataTable({
                        responsive: true,

                        data: data['problem_details'],
                        columns: [
                            { title: "Problem" },
                            { title: "Server" },
                            { title: "Date" },
                            { title: "Count of tickets" },
                        ],
                        dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                        buttons: [
                            {extend: 'excel', title: 'Problem Details', text: 'Excel', titleAttr: 'Excel'},
                        ],
                    });
                    if ( data['problem_details'].length != 0 ){
                        $('.modal-title').text("Details Problem - "+ state);
                    }else {
                        $('.modal-title').text("Details");
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $(document).on("click", ".click_top_problem_details", function () {
            $('#details-table-top').dataTable().fnClearTable();
            $('#details-table-top').dataTable().fnDraw();
            $('#details-table-top').dataTable().fnDestroy();
            var detailsValue = $(this).attr("value").split("|");
            console.log(detailsValue);
            var problem = detailsValue[0];
            var DetailsType = detailsValue[1];
            //$(".modal-header #modal-ticket-no").text(region);

            $.ajax({
                url: '/top_problem_details',
                data: {'problem': problem, 'DetailsType': DetailsType},
                //type: 'POST',
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    $('#details-table-top').DataTable({
                        responsive: true,
                        data: data['top_problem_details'],
                        columns: [
                            { title: "Problem" },
                            { title: "Date alert" },
                            { title: "Server" },
                            { title: "Object" },
                            { title: "Message" },
                            { title: "Ticket Number" },
                        ],
                        dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                        buttons: [
                            {extend: 'excel', title: 'Problem Details', text: 'Excel', titleAttr: 'Excel'},
                        ],
                    });
                    if ( data['top_problem_details'].length != 0 ){
                        $('.modal-title').text("Details Top Problem - "+ problem);
                    }else {
                        $('.modal-title').text("Details Error");
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
    {% endblock %}

