<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="margin-left:5%;margin-right:5%;margin-top:2.5%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal_title" class="modal-title">Edit Table of Correspondance</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="rowsignup container">
                <div class="modal-body modal-body-note col-md-12">
                    <center><div id="display_error"</div></center>
                    <form method="POST" action="/">
                        <div class="row">
                            <div class="form-group col-md-6">	    
                                <label class="col-form-label">ID</label>
                                <input id="id_modal" type="text" class="form-control" placeholder="ID" required="required" readonly>
                            </div>
                            <div class="form-group  col-md-6">
                                <label class=" col-form-label">Message*</label>
                                <input id="message_modal" type="text" class="form-control" placeholder="Message" required="required">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">	    
                                <label class="col-form-label">Object*</label>
                                <input id="object_modal" type="text" class="form-control" placeholder="Object" required="required">
                            </div>
                            <div class="form-group  col-md-6">
                                <label class="col-form-label">Group*</label>
                                <input id="group_modal" list="list_group" name="list_group" class="form-control"  placeholder="Group">
                                <datalist id="list_group">
                                </datalist>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">	    
                                <label class="col-form-label">Criticity*</label>
                                <select id="criticity_modal" class="form-control">
                                    <!-- Options add with JS -->
                                </select>
                            </div>
                            <div class="form-group  col-md-6">
                                <label class=" col-form-label">Category*</label>
                                <input id="category_modal" list="list_category" name="list_category" class="form-control" placeholder="Category">
                                <datalist id="list_category">
                                </datalist>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">	    
                                <label class="col-form-label">Hostname*</label>
                                <input id="hostname_modal" type="text" class="form-control" placeholder="Hostname" required="required">
                            </div>
                            <div class="form-group col-md-6">
                                <label class=" col-form-label">Weight*</label>
                                <input id="weight_modal" type="number" class="form-control" placeholder="Weight" required="required">
                            </div>
                        </div>    
                        <center> <button id="validate_button" type="button" class="btn btn-primary" onclick="checkData()" style="border-radius: 5px">Valider</button></center>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>