{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Breadcrumb -->
<body onload="hour()">
    <ol class="breadcrumb" style="margin-bottom: 0px !important">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Presentation</li>
    </ol>
    <div id="loader" style="display:none;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
    <div id="myDiv" style="margin-top: 2%">
        <h1 align="center"> <strong>Welcome to Autobot </h1></strong>

        <div align="center" class="container">
            <div class="row" style="padding-top: 4%; font-size: 22px">
                <div class="col-3">
                    <i class="fa fa-4x fa-skype text-primary mb-3 sr-icons"></i>
                    <p> Communicate by skype with autobot </p>
                </div>
                <div class="col-3">
                    <i class="fa fa-4x fa-server text-primary mb-3 sr-icons"></i>
                    <p> Analyze alerts and tickets processed by autobot</p>
                </div>
                <div class="col-3">
                    <i class="fa fa-4x fa-calendar text-primary mb-3 sr-icons"></i>
                    <p>  Graphical representation by days, months and years</p>
                </div>
                <div class="col-3">
                    <i class="fa fa-4x fa-search text-primary mb-3 sr-icons"></i>
                    <p> Possibility to search  by server and date</p>
                </div>
            </div>
        </div>

        <strong><div align="center" id="clock" style="font-size: 50px"></div></strong>
    </div>
</body>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    function hour() {
        var now = new Date();
        var time_zone = now.getTimezoneOffset();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        hours = hours + (time_zone/60)+1;
        //Change h
        var year = now.getFullYear();
        for (i=31; i >24; i--) {
            sunday = new Date(year, 2, i);
            if (sunday.getDay()==0) 
                break;
        }
        for (i=31; i >24; i--) {
            sunday2 = new Date(year, 9, i);
            if (sunday2.getDay()==0) 
                break;
        }
        if (now >= sunday && now < sunday2) 
            hours = hours + 1;
        //If change h 
        hours = ((hours < 10) ? " 0" : " ") + hours;
        minutes = ((minutes < 10) ? ":0" : ":") + minutes;
        seconds = ((seconds < 10) ? ":0" : ":") + seconds;
        document.getElementById("clock").innerHTML = hours + minutes + seconds;
        setTimeout("hour()",1000);
    }
</script>
{% endblock %}

