{% load staticfiles %}
{% block content %}
{% load static%}
<!DOCTYPE html>
<html lang="en">

    <head>
        <style>
            .text {
                position: absolute;
                top: 50%;
                right: 50%;
                transform: translate(50%,-50%);
                color: $text;
                max-width: 90%;
                padding: 2em 3em;

            }
        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Autobot Alerts and Incident Management">
        <meta name="keyword" content="Bootstrap Angular">

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" media="screen" href="{% static 'css/particulestyle.css' %}">

        <title>Autobot - DEV</title>

        <!--datatables-->
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <!--<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet">-->
        <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/loader.css">


        <!-- Icons -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">

        <!-- Main styles for this application -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">

        <!-- AngularJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    </head>
    <body onload="displayError()">
        <ol class="breadcrumb" style="margin-bottom: 0px !important">
            <li class="breadcrumb-item">Autobot</li>
            <li class="breadcrumb-item active">Login</li>
        </ol>
        <!-- particles.js container -->
        <div id="particles-js"></div>
        <div class="container text">
            <div class="row rowsignup justify-content-center">
                <div class="col-md-6">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <center>
                                    <h1 class="transformers-font">Autobot</h1>
                                    <p id="display_error" class="text-muted">Sign In to your windows account</p>
                                    <form method="POST" action="/verif_login">
                                        {% csrf_token %}
                                        <div class="form-group col-md-8">
                                            <input class="form-control" type="text" name="username" placeholder="Username">
                                        </div>
                                        <div class="form-group col-md-8">

                                            <input class="form-control" type="password" name="password" placeholder="Password">
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-primary" type="submit" style="border-radius: 5px">Login</button>
                                            </div>
                                        </div>
                                    </form> 
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for msg in messages %}       
                                        <li>
                                            <div class="alert alert-{{msg.level_tag}}" role="alert">
                                            {{msg.message}}
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock %}

{% block scripts %}
<script>
    function displayError(){
        var list_errors = {
            "?error_usr" : "Wrong credentials",
            "?error_grp" : "Access denied",
            "" : ""
        }
        var error= window.location.search;
        var parents = document.getElementById("display_error");
        var p = document.createElement('p');
        p.innerHTML = list_errors[error];
        p.style.color = 'red';
        parents.appendChild(p);
    }

</script>
<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/apparticule.js' %}"></script>

<!-- stats.js -->

<script src="{% static 'js/lib/stats.js' %}"></script>
<script>

    update = function() {

        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
</script>         

{% endblock %}