{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Breadcrumb -->
<link rel="stylesheet" type="text/css" href="../static/css/loader.css">
<ol class="breadcrumb" style="margin-bottom: 0px !important">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Personal Assistant</li>
</ol>
<div id="loader" style="display:none;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
<div id="myDiv" style="margin-top: 2%">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="card ng-scope">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="card-title" style= "margin-bottom:'10px'">Personal Assistant Actions</h4>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 hidden-sm-down">
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper">
                                <canvas id="line-chart" width="800" height="478"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--/.card-->
                </div>
                <div class="col-sm-12 col-md-6">               
                    <div id="idough" class="card" ng-controller="PolarAreaCtrl">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="card-title mb-0">Top Actions</h4>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 hidden-sm-down">
                                    <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
</button>-->
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <!--<canvas id="canvas-6"></canvas>-->
                            <canvas id="polar-area" class="chart chart-polar-area" chart-data="data" chart-labels="labels" chart-colors="backgroundColor" chart-options="options"></canvas>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li class="hidden-sm-down" ng-repeat="label in labels track by $index">
                                    <strong>
                                        <a id="id_{[{label}]}" class="font-weight-bold font-xs btn-block click_ts_action_details click_errorcode_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{label}]}|{[{errorcode_details_type}]}">
                                            {[{label}]}
                                        </a>
                                        {[{sum_cnt[$index]}]} Time(s) <br>
                                    </strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar" role="progressbar" ng-class="getClass($index, bgType)" style="width: {[{top_errorcode_pct[$index]}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--/.card-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'ts_action_modal.html' %} 
    {% endblock %}

    {% block scripts %}
    <script>

        var myApp = angular.module('app', ['chart.js'])
        .filter('split', function() {
            return function(input, splitChar, splitIndex) {
                // do some bounds checking here to ensure it has that index
                return input.split(splitChar)[splitIndex];
            }
        });
        myApp.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        });


        $(document).ready(function() {
            var canvas = document.getElementById("line-chart");
            var ctx = canvas.getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{{date_cnt|safe}}],
                    datasets: [{
                        data: [{{data_cnt|safe}}],
                        label: "Actions",
                        borderColor: "#3e95cd",
                        fill: true
                    }
                              ]
                },
                options: {
                    title: {
                        display: false,
                    }
                }
            });

            canvas.onclick = function(evt) {
                var activePoints = myNewChart.getElementsAtEvent(evt);
                if (activePoints[0]) {
                    var chartData = activePoints[0]['_chart'].config.data;
                    var idx = activePoints[0]['_index'];
                    var label = chartData.labels[idx];
                    var value = chartData.datasets[0].data[idx];
                    $('#details-table').dataTable().fnClearTable();
                    $('#details-table').dataTable().fnDraw();
                    $('#details-table').dataTable().fnDestroy();

                    $("#myActionModal").modal();
                    var array = label.split(' ');
                    var dateNumber = array[1];
                    var today = new Date;
                    var dateYear =today.getFullYear();
                    var dateMonth;
                    if(array[0] == 'January'){
                        dateMonth = '01'
                    }else if(array[0] == 'February'){
                        dateMonth = '02'
                    }else if(array[0] == 'March'){
                        dateMonth = '03'
                    }else if(array[0] == 'April'){
                        dateMonth = '04'
                    }else if(array[0] == 'May'){
                        dateMonth = '05'
                    }else if(array[0] == 'June'){
                        dateMonth = '06'
                    }else if(array[0] == 'July'){
                        dateMonth = '07'
                    }else if(array[0] == 'August'){
                        dateMonth = '08'
                    }else if(array[0] == 'September'){
                        dateMonth = '09'
                    }else if(array[0] == 'October'){
                        dateMonth = '10'
                    }else if(array[0] == 'November'){
                        dateMonth = '11'
                    }else if(array[0] == 'December'){
                        dateMonth = '12'
                    }
                    var myDate = dateYear + '-' + dateMonth +'-'+ dateNumber;
                    // !! Prend pas en compte les changements d'années !! 

                    $.ajax({
                        url: '/ts_action_details',
                        data: {'myDate': myDate },
                        dataType: "json",
                        success: function(data) {
                            $('#details-table').DataTable({
                                responsive: true,
                                data: data['ts_action_details'],
                                columns: [
                                    { title: "Date" },
                                    { title: "Request" },
                                    { title: "Action"},
                                    { title: "User"},
                                ],
                                dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                                buttons: [
                                    {extend: 'excel', title: 'Supervision Ticket Type Details', text: 'Excel', titleAttr: 'Excel'},
                                ],
                            });        
                            $('.modal-title').text("DATE : " + myDate.toUpperCase());
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                }
            };
        }
                         ); 




        myApp.controller("PolarAreaCtrl", function ($scope,$window){
            $scope.labels = {{actions_cnt|safe}};
                         $scope.data = {{sum_cnt|safe}};
                         $scope.backgroundColor = ['#FF6384','#4dbd74','#FFCE56','#63c2de','#f4850e'];

                         $scope.options = {
                         legend: {
                         display: true,
                         position: 'top',
                         },
                         maintainAspectRatio: true,
                         'onClick' : function (evt, item) {
            if ( item.length > 0 ){
                var svname = item[0]["_model"]["label"];
                var id = "id_"+svname;
                $('#'+id).click();
            }
        }
        };

        $scope.sum_cnt = {};
        for(i=0;i<$scope.data.length;i++){
            $scope.sum_cnt[i] = $scope.data[i];
        }

        $scope.bgType = ['bg-red','bg-green','bg-yellow','bg-blue','bg-orange'];
        $scope.getClass = function getClass(idx, list) {
            return list[idx];
        };

        });

        $( document ).ready(function() {
            $(".click_ts_action_details").click(function () {

                $('#details-table').dataTable().fnClearTable();
                $('#details-table').dataTable().fnDraw();
                $('#details-table').dataTable().fnDestroy();

                $("#myActionModal").modal();
                var detailsValue = $(this).attr("value").split("|");
                var type = detailsValue[0];
                console.log(type);

                $.ajax({
                    url: '/ts_top_action_details',
                    data: {'type': type,},
                    //type: 'POST',
                    dataType: "json",
                    success: function(data) {
                        console.log(' EST CE QUE L AJAX MARCHE?')
                        console.log('ICIIIIII ?'+JSON.stringify(data))
                        $('#details-table').DataTable({
                            responsive: true,
                            data: data['ts_top_action_details'],
                            columns: [
                                { title: "Date" },
                                { title: "Request" },
                                { title: "Object" },
                                { title: "User" },
                            ],
                            dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                            buttons: [
                                {extend: 'excel', title: 'Supervision Ticket Type Details', text: 'Excel', titleAttr: 'Excel'},
                            ],
                        });
                        $('.modal-title').text("TOP ACTIONS : " + type.toUpperCase());
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });


    </script>
    {% endblock %}
