{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Breadcrumb -->
<ol class="breadcrumb" style="margin-bottom: 0px !important">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Search Backup</li>
</ol>
<div id="loader" style="display:none;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
<div id="myDiv" style="margin-top: 2%">
    <div class="card">
        <div class="card-header">
            <strong>Backup Failure Research</strong>
        </div>
        <div class="card-block">
            <form action="" method="post" class="form-horizontal ">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="hf-server">Search</label>
                    <div class="col-md-9">
                        <input id="hf-server" name="hf-server" class="form-control" required="" placeholder="Enter server name or ticket number . . .">
                    </div>
                </div>
                <div class="input-group input-daterange">
                    <span class="input-group-addon">From</span>
                    <input id="start-date" name="start-date" class="form-control" required="" input type="date">
                    <span class="input-group-addon">to</span>
                    <input id="end-date" name="end-date" class="form-control" required="" input type="date">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button onclick="submitform()" id="submit" value="Search" name="button-Search" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Search</button>
            <button onclick="resetform()" value="Reset" name="button-Reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card-block">
                        <table id="dataTable" class="table table-striped">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!--/.card-->
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /.conainer-fluid -->
{% include 'history_details_modal.html' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    $(document).ready(function() {
        var date = new Date();
        console.log(date);
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();

        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;

        var today = year + "-" + month + "-" + day;     

        date_last = new Date(date.setDate(date.getDate() - 7));

        console.log(date_last);

        var day_last = date_last.getDate();
        var month_last = date_last.getMonth() + 1;
        var year_last = date_last.getFullYear();

        if (month_last < 10) month_last = "0" + month_last;
        if (day_last < 10) day_last = "0" + day_last;

        var today = year + "-" + month + "-" + day;    
        var last_day = year_last + "-" + month_last + "-" + day_last;   

        $("#start-date").attr("value", last_day);
        $("#end-date").attr("value", today);

    });

    document.getElementById("hf-server")
        .addEventListener("keyup", function(event) {
        event.preventDefault();
        if (event.keyCode == 13) {
            document.getElementById("submit").click();
        }
    });


    function resetform()
    {
        console.log("reset");
        document.getElementById("hf-server").value = "";
        document.getElementById("start-date").value = "";
        document.getElementById("end-date").value = "";

        var r = new Array(), j = 0;
        r[0] = '<table><tr><th data-field="0">Server</th><th data-field="1">Date</th><th data-field="2">Rerun</th><th data-field="3">Ticket</th></tr>';

        $('#dataTable').html(r.join(''));  
    }


    $("form").submit(function (e) {
        e.preventDefault();
        var proceed = true;

        if (proceed) {
            // Insert the AJAX here.
            submitform();
        }
    });

    function submitform()
    {
        console.log("submit");
        var server = document.getElementById("hf-server").value;
        var start_date = document.getElementById("start-date").value;
        var end_date = document.getElementById("end-date").value;

        $.ajax({
            url: '/search_backup_details',
            data: {'server': server,'start-date': start_date, 'end-date': end_date},
            //type: 'POST',
            dataType: "json",
            success: function(data) {
                console.log(data);
                if ( $.fn.DataTable.isDataTable( '#dataTable' ) ) {
                    $('#dataTable').dataTable().fnClearTable();
                    $('#dataTable').dataTable().fnDraw();
                    $('#dataTable').dataTable().fnDestroy();
                }
                $('#dataTable thead').empty();
                $('#dataTable tbody').empty();
                $('<tr></tr>')
                    .append($('<th></th>').html("Server"))
                    .append($('<th></th>').html("Date"))
                    .append($('<th></th>').html("Rerun"))
                    .append($('<th></th>').html("Ticket"))
                    .append($('<th></th>').html("Details"))
                    .appendTo($('#dataTable thead'));

                $.each(data["server_details"], function(i, row){
                    $('<tr></tr>')
                        .append($('<td></td>').html(row[0]))
                        .append($('<td></td>').html(row[1]))
                        .append($('<td></td>').html(row[2]))
                        .append($('<td></td>').html(row[3]))
                        .append($('<td></td>').append($('<center></center>').append($('<button></button>').css("border-radius","5px").addClass("btn btn-primary btn-sm").append($('<i></i>').addClass('fa fa-search-plus')).attr("onClick","detailSearch('"+row[4]+"','"+row[0]+"','"+row[1]+"','"+row[3]+"')"))))
                        .appendTo($('#dataTable tbody'));
                });
                $('#dataTable').DataTable({
                    "order": [[ 0, "asc" ], [ 1, "asc" ]],
                    dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                    buttons: [ 
                        {
                            extend: 'excel', 
                            title: 'Backup Search', 
                            text: 'Excel',
                            titleAttr: 'Excel'
                        } 
                    ]
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function detailSearch(historyID,server,date,ticket){
        console.log(historyID);
        console.log(server);

        $('#details-table').dataTable().fnClearTable();
        $('#details-table').dataTable().fnDraw();
        $('#details-table').dataTable().fnDestroy();

        $("#myHistoryModal").modal();

        $.ajax({
            url: '/history_backup_details',
            data: {'historyID': historyID},
            dataType: "json",
            //type: 'POST',
            success: function(data) {
                console.log(data);
                $('#details-table').DataTable({
                    responsive: true,
                    data: data['history_backup_details'],
                    columns: [
                        { title: "Date" },
                        { title: "Action" },
                        { title: "Status" },
                    ],
                    dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                    buttons: [
                        {extend: 'excel', title: 'History Details', text: 'Excel', titleAttr: 'Excel'},
                    ],
                });
                $('.modal-title').text("Server : "  + server.toUpperCase() + " - Date : " + date.toUpperCase() + " - Ticket : " + ticket.toUpperCase());
                console.log("test");
            },
            error: function(error) {
                console.log(error);
            }
        });

    }
    //-->
</script>
<script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
{% endblock %}
