{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Breadcrumb -->
<ol class="breadcrumb" style="margin-bottom: 0px !important">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Backup Servers</li>
</ol>
<div id="loader" style="display:none;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
<div id="myDiv" style="margin-top: 2%">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div id="idough" class="card" ng-controller="DoughnutCtrl">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Top Servers </h4>
                                    <div class="small text-muted">{{today}}</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 hidden-sm-down">
                                    <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
</button>-->
                                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                            <label class="btn btn-outline-secondary active" ng-click="chooseDaterange('week')">
                                                <input type="radio" name="options" id="option1" checked="">Week
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('month')">
                                                <input type="radio" name="options" id="option2">Month
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('year')">
                                                <input type="radio" name="options" id="option3">Year
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper" style="height:425px;margin-top:40px;">
                                <center>
                                    <div id="invisible" style="padding-top:160px;visibility: hidden;">
                                        <h2> Nothing to display </h2> 
                                        <p>(No server with more than 1 alert)</p>
                                    </div>
                                </center>
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="backgroundColor" chart-options="options"></canvas> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li class="hidden-sm-down" ng-repeat="label in labels track by $index">
                                    <strong>
                                        <a id="id_{[{label | split:'.':0 | uppercase }]}" class="font-weight-bold font-xs btn-block click_details_backup" href="#" data-toggle="modal" data-target="#myModal" value="{[{label}]}|{[{server_backup_details_type}]}" title="View Details for server : {[{label | split:'.':0 | uppercase }]}">
                                            {[{label | split:'.':0 | uppercase }]}
                                        </a>
                                        {[{top_server_cnt[$index]}]} Alert(s) <br> ({[{top_server_pct[$index]}]})
                                    </strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar" role="progressbar" ng-class="getClass($index, bgType)" style="width: {[{top_server_pct[$index]}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.card-->
                </div>
                <div class="col-sm-12 col-md-6">                  
                    <div id="idough" class="card" ng-controller="PolarAreaCtrl">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Top Error Codes</h4>
                                    <div class="small text-muted">{{today}}</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 hidden-sm-down">
                                    <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
</button>-->
                                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                            <label class="btn btn-outline-secondary active" ng-click="chooseDaterange('week')">
                                                <input type="radio" name="options" id="option1" checked="">Week
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('month')">
                                                <input type="radio" name="options" id="option2">Month
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('year')">
                                                <input type="radio" name="options" id="option3">Year
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper" style="height:425px;margin-top:40px;">
                                <!--<canvas id="canvas-6"></canvas>-->
                                <canvas id="polar-area" class="chart chart-polar-area" chart-data="data" chart-labels="labels" chart-colors="backgroundColor" chart-options="options"></canvas>
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li class="hidden-sm-down" ng-repeat="label in labels track by $index">
                                    <strong>
                                        <a id="id_{[{label}]}" class="font-weight-bold font-xs btn-block click_errorcode_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{label}]}|{[{errorcode_details_type}]}" title="View Details for Error Code : {[{label | split:'.':0 | uppercase }]}">
                                            {[{label}]}
                                        </a>
                                        {[{top_errorcode_cnt[$index]}]} Time(s) <br> ({[{top_errorcode_pct[$index]}]})
                                    </strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar" role="progressbar" ng-class="getClass($index, bgType)" style="width: {[{top_errorcode_pct[$index]}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--/.card-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'server_backup_modal.html' %}
    <!-- /.conainer-fluid -->
    {% endblock %}

    {% block scripts %}

    <script>

        var myApp = angular.module('app', ['chart.js'])
        .filter('split', function() {
            return function(input, splitChar, splitIndex) {
                // do some bounds checking here to ensure it has that index
                return input.split(splitChar)[splitIndex];
            }
        });
        myApp.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        });

        myApp.controller("DoughnutCtrl", function ($scope,$window){
            $scope.labels = {{server_cnt.week.name|safe}};
                         $scope.data = {{server_cnt.week.cnt|safe}};
                         $scope.backgroundColor = ['#FF6384','#4dbd74','#FFCE56','#63c2de','#f4850e'];

                         $scope.options = {
                         legend: {
                         display: true,
                         position: 'top',
                         },
                         maintainAspectRatio: false,
                         'onClick' : function (evt, item) {
            if ( item.length > 0 ){
                var svname = item[0]["_model"]["label"];
                var id = "id_"+svname;
                $('#'+id).click();
            }
        }
        };
        $scope.top_server_cnt = {};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_server_cnt[i] = $scope.data[i];
        }

        $scope.top_server_pct = {};
        $scope.server_pct = {{server_pct.week|safe}};
        for(i=0;i<$scope.server_pct.length;i++){
            $scope.top_server_pct[i] = $scope.server_pct[i];
        }
        $scope.server_backup_details_type = 'week'; 

        $scope.bgType = ['bg-red','bg-green','bg-yellow','bg-blue','bg-orange'];
        $scope.getClass = function getClass(idx, list) {
            return list[idx];
        };

        $scope.chooseDaterange = function(choice){
            checkCount(choice);
            if(choice=="week"){
                $scope.labels = {{server_cnt.week.name|safe}};
            $scope.data = {{server_cnt.week.cnt|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_server_cnt[i] = $scope.data[i];
        }
        $scope.server_pct = {{server_pct.week|safe}};
        for(i=0;i<$scope.server_pct.length;i++){
            $scope.top_server_pct[i] = $scope.server_pct[i];
        }
        $scope.server_backup_details_type = 'week'; 
        }else if(choice=="month"){
            $scope.labels = {{server_cnt.month.name|safe}};
        $scope.data = {{server_cnt.month.cnt|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_server_cnt[i] = $scope.data[i];
        }
        $scope.server_pct = {{server_pct.month|safe}};
        for(i=0;i<$scope.server_pct.length;i++){
            $scope.top_server_pct[i] = $scope.server_pct[i];
        }
        $scope.server_backup_details_type = 'month'; 
        }else{
            $scope.labels = {{server_cnt.year.name|safe}};
        $scope.data = {{server_cnt.year.cnt|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_server_cnt[i] = $scope.data[i];
        }
        $scope.server_pct = {{server_pct.year|safe}};
        for(i=0;i<$scope.server_pct.length;i++){
            $scope.top_server_pct[i] = $scope.server_pct[i];
        }
        $scope.server_backup_details_type = 'year'; 
        } 
        };
        });

        myApp.controller("PolarAreaCtrl", function ($scope,$window){
            $scope.labels = {{errorcode_cnt.week.name|safe}};
                         $scope.data = {{errorcode_cnt.week.cnt|safe}};
                         $scope.backgroundColor = ['#FF6384','#4dbd74','#FFCE56','#63c2de','#f4850e'];

                         $scope.options = {
                         legend: {
                         display: true,
                         position: 'top',
                         },
                         maintainAspectRatio: true,
                         'onClick' : function (evt, item) {
            if ( item.length > 0 ){
                var svname = item[0]["_model"]["label"];
                var id = "id_"+svname;
                $('#'+id).click();
            }
        }
        };
        $scope.top_errorcode_cnt = {};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_errorcode_cnt[i] = $scope.data[i];
        }

        $scope.top_errorcode_pct = {};
        $scope.errorcode_pct = {{errorcode_pct.week|safe}};
        for(i=0;i<$scope.errorcode_pct.length;i++){
            $scope.top_errorcode_pct[i] = $scope.errorcode_pct[i];
        }
        $scope.errorcode_details_type = 'week'; 

        $scope.bgType = ['bg-red','bg-green','bg-yellow','bg-blue','bg-orange'];
        $scope.getClass = function getClass(idx, list) {
            return list[idx];
        };

        $scope.chooseDaterange = function(choice){
            checkCount(choice);
            if(choice=="week"){
                $scope.labels = {{errorcode_cnt.week.name|safe}};
            $scope.data = {{errorcode_cnt.week.cnt|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_errorcode_cnt[i] = $scope.data[i];
        }
        $scope.errorcode_pct = {{errorcode_pct.week|safe}};
        for(i=0;i<$scope.errorcode_pct.length;i++){
            $scope.top_errorcode_pct[i] = $scope.errorcode_pct[i];
        }
        $scope.errorcode_details_type = 'week'; 
        }else if(choice=="month"){
            $scope.labels = {{errorcode_cnt.month.name|safe}};
        $scope.data = {{errorcode_cnt.month.cnt|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_errorcode_cnt[i] = $scope.data[i];
        }
        $scope.errorcode_pct = {{errorcode_pct.month|safe}};
        for(i=0;i<$scope.errorcode_pct.length;i++){
            $scope.top_errorcode_pct[i] = $scope.errorcode_pct[i];
        }
        $scope.errorcode_details_type = 'month'; 
        }else{
            $scope.labels = {{errorcode_cnt.year.name|safe}};
        $scope.data = {{errorcode_cnt.year.cnt|safe}};
        for(i=0;i<$scope.data.length;i++){
            $scope.top_errorcode_cnt[i] = $scope.data[i];
        }
        $scope.errorcode_pct = {{errorcode_pct.year|safe}};
        for(i=0;i<$scope.errorcode_pct.length;i++){
            $scope.top_errorcode_pct[i] = $scope.errorcode_pct[i];
        }
        $scope.errorcode_details_type = 'year'; 
        } 
        };
        });

        <!-- var canv = document.getElementById("doughnut"); -->
            <!-- var ctx = canv.getContext("2d"); -->

                $("#invisible").hide();
        checkCount("week");
        function checkCount(period){   
            var list = {{ server_cnt | safe }};
        console.log(list[period]);
        if (list[period]['cnt'].length == 0){
            console.log("correct "+period);
            $("#invisible").show();
        }else{
            $("#invisible").hide();
        }
        }


        $(document).on("click", ".click_details_backup", function () {
            $('#details-table').dataTable().fnClearTable();
            $('#details-table').dataTable().fnDraw();
            $('#details-table').dataTable().fnDestroy();
            var detailsValue = $(this).attr("value").split("|");
            console.log(detailsValue);
            var backupserver = detailsValue[0];
            var serverDetailsType = detailsValue[1];
            //$(".modal-header #modal-ticket-no").text(region);

            $.ajax({
                url: '/server_backup_details',
                data: {'backupserver': backupserver, 'serverDetailsType': serverDetailsType},
                //type: 'POST',
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    $('#details-table').DataTable({
                        responsive: true,
                        data: data['server_backup_details'],
                        columns: [
                            { title: "Server Name" },
                            { title: "Date" },
                            { title: "Policy" },
                            { title: "Schedule" },
                            { title: "Error Code" },
                            { title: "Rerun State" },
                            { title: "Ticket" },
                        ],
                        dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                        buttons: [
                            {extend: 'excel', title: 'Server Backup Details', text: 'Excel', titleAttr: 'Excel'},
                        ],
                    });
                    if ( data['server_backup_details'].length != 0 ){
                        $('.modal-title').text("Details Backup - "+data['server_backup_details'][0][0]);
                    }else {
                        $('.modal-title').text("Details");
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

        $(document).on("click", ".click_errorcode_details", function () {
            $('#details-table').dataTable().fnClearTable();
            $('#details-table').dataTable().fnDraw();
            $('#details-table').dataTable().fnDestroy();
            var detailsValue = $(this).attr("value").split("|");
            console.log(detailsValue);
            var errorcode = detailsValue[0];
            var errorcodeDetailsType = detailsValue[1];
            //$(".modal-header #modal-ticket-no").text(region);

            $.ajax({
                url: '/errorcode_details',
                data: {'errorcode': errorcode, 'errorcodeDetailsType': errorcodeDetailsType},
                //type: 'POST',
                dataType: "json",
                success: function(data) {
                    console.log(data);
                    $('#details-table').DataTable({
                        responsive: true,
                        data: data['errorcode_details'],
                        columns: [
                            { title: "Error Code" },
                            { title: "Server Name" },
                            { title: "Date" },
                            { title: "Policy" },
                            { title: "Schedule" },
                            { title: "Rerun State" },
                            { title: "Ticket" },
                        ],
                        dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                        buttons: [
                            {extend: 'excel', title: 'Error Code Backup Details', text: 'Excel', titleAttr: 'Excel'},
                        ],
                    });
                    if ( data['errorcode_details'].length != 0 ){
                        $('.modal-title').text("Details Error Code - "+data['errorcode_details'][0][0]);
                    }else {
                        $('.modal-title').text("Details");
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
    {% endblock %}

