{% extends "base.html" %}
{% load staticfiles %}
{% block content%}
<ol class="breadcrumb" style="margin-bottom: 0px !important">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Servers</li>
</ol>
<div id="loader" style="display:none;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
<div id="myDiv" style="margin-top: 2%">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div id="idough" class="card" ng-controller="DoughnutCtrl">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Top Servers Alerts</h4>
                                    <div class="small text-muted">{{today}}</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 hidden-sm-down">
                                    <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
</button>-->
                                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                            <label class="btn btn-outline-secondary active" ng-click="chooseDaterange('day')">
                                                <input type="radio" name="options" id="option1" checked="">Day
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('week')">
                                                <input type="radio" name="options" id="option2" ">Week
                                                                                                 </label>
                                                                                                 <label class="btn btn-outline-secondary" ng-click="chooseDaterange('month')">
                                                <input type="radio" name="options" id="option3" ">Month
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('year')">
                                                <input type="radio" name="options" id="option4">Year
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper" style="height:425px;margin-top:40px;">
                                <center>
                                    <div id="invisible" style="padding-top:160px">
                                        <h2> Nothing to display </h2> 
                                        <p>(No server with more than 1 alert)</p>
                                    </div>
                                </center>
                                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="backgroundColor" chart-options="options"></canvas> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li class="hidden-sm-down" ng-repeat="label in labels track by $index">
                                    <strong>
                                        <a id="id_{[{label | split:'.':0 | uppercase }]}" class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{label}]}|{[{server_details_type}]}" title="View Details for server : {[{label | split:'.':0 | uppercase }]}">
                                            {[{label | split:'.':0 | uppercase }]}
                                        </a>
                                        {[{top_server_cnt[$index]}]} Alert(s) <br> ({[{top_server_pct[$index]}]})
                                    </strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar" role="progressbar" ng-class="getClass($index, bgType)" style="width: {[{top_server_pct[$index]}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.card-->
                </div>
            </div>
        </div>
        {% include 'server_modal.html' %}
    </div>
</div>
<!-- /.conainer-fluid -->
{% endblock %}

{% block scripts %}

<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<!--
<script>
var alerts_inmain = [34, 12, 40];
var alerts_dupli = [ 51, 55, 40];
var alerts_nondupli = [ 34, 22, 11];
var tickets_firstanal = [34, 12, 40];
var tickets_closed = [ 51, 55, 40];
var tickets_created = [ 34, 22, 11];
</script>
<script src="{% static 'js/views/main.js' %}"></script>

-->
<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<script>
    //var dataCopy;
    //var colors;
    var myApp = angular.module('app', ['chart.js'])
    .filter('split', function() {
        return function(input, splitChar, splitIndex) {
            // do some bounds checking here to ensure it has that index
            return input.split(splitChar)[splitIndex];
        }
    });
    myApp.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    myApp.controller("DoughnutCtrl", function ($scope,$window){
        $scope.labels = {{server_cnt.day.name|safe}};
                     $scope.data = {{server_cnt.day.cnt|safe}};
                     $scope.backgroundColor = ['#FF6384','#4dbd74','#FFCE56','#63c2de','#f4850e'];
                     //
                     //$window.dataCopy = "day";
                     //$window.colors = ['#FF6384','#4dbd74','#FFCE56','#63c2de','#f4850e'];

                     $scope.options = {
                     legend: {
                     display: true,
                     position: 'top',
                     },
                     maintainAspectRatio: false,
                     'onClick' : function (evt, item) {

        if ( item.length > 0 ){
            var svname = item[0]["_model"]["label"];
            var id = "id_"+svname;
            $('#'+id).click();
        }
    }
    };
    $scope.top_server_cnt = {};
    for(i=0;i<$scope.data.length;i++){
        $scope.top_server_cnt[i] = $scope.data[i];
    }

    $scope.top_server_pct = {};
    $scope.server_pct = {{server_pct.day|safe}};
    for(i=0;i<$scope.server_pct.length;i++){
        $scope.top_server_pct[i] = $scope.server_pct[i];
    }
    $scope.server_details_type = 'day'; 

    $scope.bgType = ['bg-red','bg-green','bg-yellow','bg-blue','bg-orange'];
    $scope.getClass = function getClass(idx, list) {
        return list[idx];
    };

    $scope.chooseDaterange = function(choice){
        checkCount(choice);
        //$window.dataCopy = choice;
        if(choice=="day"){
            $scope.labels = {{server_cnt.day.name|safe }};
        $scope.data = {{server_cnt.day.cnt|safe}};
    for(i=0;i<$scope.data.length;i++){
        $scope.top_server_cnt[i] = $scope.data[i];
    }

    $scope.server_pct = {{server_pct.day|safe}};
    for(i=0;i<$scope.server_pct.length;i++){
        $scope.top_server_pct[i] = $scope.server_pct[i];
    }
    $scope.server_details_type = 'day'; 
    }else if(choice=="week"){
        $scope.labels = {{server_cnt.week.name|safe}};
    $scope.data = {{server_cnt.week.cnt|safe}};
    for(i=0;i<$scope.data.length;i++){
        $scope.top_server_cnt[i] = $scope.data[i];
    }
    $scope.server_pct = {{server_pct.week|safe}};
    for(i=0;i<$scope.server_pct.length;i++){
        $scope.top_server_pct[i] = $scope.server_pct[i];
    }
    $scope.server_details_type = 'week'; 
    }else if(choice=="month"){
        $scope.labels = {{server_cnt.month.name|safe}};
    $scope.data = {{server_cnt.month.cnt|safe}};
    for(i=0;i<$scope.data.length;i++){
        $scope.top_server_cnt[i] = $scope.data[i];
    }
    $scope.server_pct = {{server_pct.month|safe}};
    for(i=0;i<$scope.server_pct.length;i++){
        $scope.top_server_pct[i] = $scope.server_pct[i];
    }
    $scope.server_details_type = 'month'; 
    }else{
        $scope.labels = {{server_cnt.year.name|safe}};
    $scope.data = {{server_cnt.year.cnt|safe}};
    for(i=0;i<$scope.data.length;i++){
        $scope.top_server_cnt[i] = $scope.data[i];
    }
    $scope.server_pct = {{server_pct.year|safe}};
    for(i=0;i<$scope.server_pct.length;i++){
        $scope.top_server_pct[i] = $scope.server_pct[i];
    }
    $scope.server_details_type = 'year'; 
    } 
    };
    });



    var canv = document.getElementById("doughnut");
    var ctx = canv.getContext("2d");       
    //console.log(ctx.canvas);
    /**$( "#doughnut" ).click(function(evt) {
            var list = {{ server_cnt | safe }};
            var x = evt.clientX;
            var y = evt.clientY;
            console.log(evt);
            var data = {
                datasets : [{
                    data: list[dataCopy]['cnt'],
                    backgroundColor: colors,
                    }],
                    labels : list[dataCopy]['name']
            };
            console.log(data);
            console.log(list[dataCopy]);
            var myNewChart = new Chart(ctx, {
                type: 'doughnut',
                data: data
            });
            var activePoints = myNewChart.getElementsAtEvent(evt);
            console.log(activePoints);
            /**var chartData = activePoints[0]['_chart'].config.data;
            var idx = activePoints[0]['_index'];
        });**/

    $("#invisible").hide();
    checkCount("day");
    function checkCount(period){   
        var list = {{ server_cnt | safe }};

    if (list[period]['cnt'].length == 0){

        $("#invisible").show();
    }else{
        $("#invisible").hide();
    }
    }

    //get details for to be updated wks
    // onclick details
    $(document).on("click", ".click_details", function () {
        $('#details-table').dataTable().fnClearTable();
        $('#details-table').dataTable().fnDraw();
        $('#details-table').dataTable().fnDestroy();
        var detailsValue = $(this).attr("value").split("|");
        var serverName = detailsValue[0];
        var serverDetailsType = detailsValue[1];
        //$(".modal-header #modal-ticket-no").text(region);

        $.ajax({
            url: '/server_details',
            data: {'server': serverName, 'serverDetailsType': serverDetailsType},
            //type: 'POST',
            dataType: "json",
            success: function(data) {

                $('#details-table').DataTable({
                    responsive: true,
                    data: data['server_details'],
                    columns: [
                        { title: "Server Name" },
                        { title: "Date" },
                        { title: "Alert" },
                        { title: "Message" },
                        { title: "Object" },
                        { title: "Ticket" },
                    ],
                    dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                    buttons: [
                        {extend: 'excel', title: 'Server Details', text: 'Excel', titleAttr: 'Excel'},
                    ],
                });
                if ( data['server_details'].length != 0 ){
                    $('.modal-title').text("Details - "+data['server_details'][0][0]);
                }else {
                    $('.modal-title').text("Details");
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
{% endblock %}

