<!-- Modal Popup for Details -->                 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="margin-left:5%;margin-right:5%;margin-top:2.5%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body modal-body-note">
                <center>
                <table class="table table-bordered table-striped table-condensed" id="details-table" style="width:95%;margin-top:10px;">
                     <thead>
                     <tr>
                         <th>Server Name</th>
                         <th>Workflow</th>
                         <th>Date</th>
                         <th>Alert</th>
                         <th style="width:25%;">Message</th>
                         <th>Ticket</th>
                     </tr>
                     </thead>
                </table>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

