{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Autobot Alerts and Incident Management">
        <meta name="keyword" content="Bootstrap Angular">

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

        <title>Autobot - DEV</title>

        <!--datatables-->
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <!--<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet">-->
        <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/loader.css">


        <!-- Icons -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">

        <!-- Main styles for this application -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.all.min.js"></script>

        <!-- AngularJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    </head>
    <body onload="loadData()">
        <ol class="breadcrumb" style="margin-bottom: 0px !important">
            <li class="breadcrumb-item">Autobot</li>
            <li class="breadcrumb-item active">Admin - Table of Correspondance</li>
        </ol>
        <div id="loader" style="display:block;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
        <div id="myDiv" style="display:none; margin-top: 2%">
            <div class="col-md-12 btn">
                <button class="btn btn-primary admin" style="border-radius: 5px" onclick="addCrt()">Add New Correspondance</button>
            </div>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="card-block">
                                <table id="dataTable" class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% include 'edit_modal.html' %}
{% endblock %}
{% block scripts %}
<script>

    var list_group_data = new Array;
    var list_category_data = new Array;
    var list_criticity_data = new Array
    var type = "";
    var my_id;

    setTimeout(displayBlock, 500);

    function displayBlock(){
        document.getElementById("myDiv").style.display = "block";
        document.getElementById("loader").style.display = "none";
    }

    function escapeHtml(text) {
        var map = {
            '&': '&amp;',
            '"': '&quot;',
            "'": '&#039;'
        };

        return text.replace(/\n/g, "<br>").replace(/\r/g,' ').replace(/[&"']/g, function(m) { return map[m]; });
    }

    function decodeHtml(text) {

        return text.replace(/&amp;/g,'&').replace(/&quot;/g,'"').replace(/&#039;/g,"'").replace(/<br>/g,'\n')}

    function loadData(){
        $.ajax({
            url: '/table_crt_data',
            //type: 'POST',
            dataType: "json",
            success: function(data) {

                var result = [];
                for(var i = 0; i < data["table_crt"].length; i++){
                    result[i] = [];
                    for(var j = 0; j < data["table_crt"][i].length; j++){
                        if(/^[0-9]/.test(data["table_crt"][i][j]) == true){
                            result[i][j] = data["table_crt"][i][j];
                        }else if(data["table_crt"][i][j] == null){
                            result[i][j] = null;
                        }else{
                            result[i][j] = escapeHtml(data["table_crt"][i][j]);
                        }
                    }
                }

                if ( $.fn.DataTable.isDataTable( '#dataTable' ) ) {
                    $('#dataTable').dataTable().fnClearTable();
                    $('#dataTable').dataTable().fnDraw();
                    $('#dataTable').dataTable().fnDestroy();
                }
                $('#dataTable thead').empty();
                $('#dataTable tbody').empty();
                $('<tr></tr>')
                    .append($('<th></th>').html("ID"))
                    .append($('<th></th>').html("Message"))
                    .append($('<th></th>').html("Object"))
                    .append($('<th></th>').html("Group"))
                    .append($('<th></th>').html("Criticity"))
                    .append($('<th></th>').html("Category"))
                    .append($('<th></th>').html("Hostname"))
                    .append($('<th></th>').html("Weight"))
                    .append($('<th></th>').attr("class","admin").html("Edit"))
                    .append($('<th></th>').attr("class","admin").html("Delete"))
                    .appendTo($('#dataTable thead'));

                list_group_data = []; //empty the array before assign data
                for (var i = 0; i < data["list_group"].length; i++){
                    list_group_data.push(data["list_group"][i][0]);
                }

                list_category_data = [];
                for (var i = 0; i < data["list_category"].length; i++){
                    list_category_data.push(data["list_category"][i][0]);
                }

                list_criticity_data = []; 
                for (var i = 0; i < data["list_criticity"].length; i++){
                    list_criticity_data.push(data["list_criticity"][i][0]);
                }

                $.each(result, function(i, row){
                    $('<tr></tr>').attr("id","tr_data")
                        .append($('<td></td>').html(row[0]))
                        .append($('<td></td>').html(row[1]))
                        .append($('<td></td>').html(row[2]))
                        .append($('<td></td>').html(row[3]))
                        .append($('<td></td>').html(row[4]))
                        .append($('<td></td>').html(row[5]))
                        .append($('<td></td>').html(row[6]))
                        .append($('<td></td>').html(row[7]))
                        .append($('<td></td>').attr("class","admin").attr("id",row[0]).append($('<center></center>').append($('<button></button>').attr("onclick","editCrt('"+row[0]+"','"+row[1]+"','"+row[2]+"','"+row[3]+"','"+row[4]+"','"+row[5]+"','"+row[6]+"','"+row[7]+"')").css("border-radius","5px").addClass("btn btn-primary btn-sm").append($('<i></i>').addClass('fa fa-edit')))))
                        .append($('<td></td>').attr("class","admin").append($('<center></center>').append($('<button></button>').attr("onclick","JSalert('"+row[0]+"','"+row[1]+"','"+row[2]+"','"+row[3]+"','"+row[4]+"','"+row[5]+"','"+row[6]+"','"+row[7]+"')").css("border-radius","5px").addClass("btn btn-danger btn-sm").append($('<i></i>').addClass('icon-ban')))))

                        .appendTo($('#dataTable tbody'));
                });

                if(sessionStorage.getItem("isAdmin") == 0){
                    isNotAdmin();
                }

                $('#dataTable').DataTable({
                    "order": [[ 0, "asc" ], [ 1, "asc" ]],
                    dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                    buttons: [ 
                        {
                            extend: 'excel', 
                            title: 'Backup Search', 
                            text: 'Excel',
                            titleAttr: 'Excel'
                        } 
                    ]
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function displayListGroup(value){
        //Display options for group
        var listOfGroup = list_group_data
        var list_group = "";
        for (var i = 0; i < listOfGroup.length; i++){
            list_group += '<option value="'+listOfGroup[i]+'" />';
        }
        document.getElementById("list_group").innerHTML = list_group;
        document.getElementById("group_modal").value = value;

    }

    function displayListCriticity(value){
        //Display options for criticity 
        var listOfCriticity = list_criticity_data;
        for (var i = 0; i < listOfCriticity.length; i++){
            var options_criticity = new Option(listOfCriticity[i], listOfCriticity[i]);
            options_criticity.id=listOfCriticity[i];
            document.getElementById("criticity_modal").options[i] = options_criticity;
        }
        if(value != ""){
            document.getElementById(value).selected = "true";
        }
    }

    function displayListCategories(value){
        //Display options for categories
        var listOfCategories = list_category_data;
        var list_categories = "";
        for (var i = 0; i < listOfCategories.length; i++){
            list_categories += '<option value="'+listOfCategories[i]+'" />';
        }
        document.getElementById("list_category").innerHTML = list_categories;
        document.getElementById("category_modal").value = value;    
    }    

    function addCrt(){
        $("#editModal").modal();
        document.getElementById("modal_title").innerHTML = "Add in Table Of Correspondance";

        document.getElementById("id_modal").value="";
        document.getElementById("message_modal").value="";
        document.getElementById("object_modal").value="";
        document.getElementById("hostname_modal").value="";
        document.getElementById("weight_modal").value="";

        displayListGroup("");
        displayListCategories("");
        displayListCriticity("");

        type = "add";

        document.getElementById("validate_button").removeAttribute("data-dismiss");
        document.getElementById("display_error").innerHTML = "";
    }

    function editCrt(id,message,object,group,criticity,category,hostname,weight){
        $("#editModal").modal();
        document.getElementById("modal_title").innerHTML = "Edit Table Of Correspondance"

        displayListGroup(group);

        displayListCriticity(criticity);

        displayListCategories(decodeHtml(category));

        document.getElementById("id_modal").value=id;
        document.getElementById("message_modal").value=decodeHtml(message);
        document.getElementById("object_modal").value=decodeHtml(object);
        document.getElementById("hostname_modal").value=decodeHtml(hostname);
        document.getElementById("weight_modal").value=weight;

        type = "edit";
        my_id = id;

        document.getElementById("validate_button").removeAttribute("data-dismiss");//don't quit the modal if we validate with error
        document.getElementById("display_error").innerHTML = "";
    }

    function deleteBdd(id){
        $.ajax({
            url: '/delete_bdd',
            data: {'type': "grp_crt", 'id' : id},
            //type: 'POST',
            dataType: 'json',
            success : function(){
                loadData();//Refresh datas of the table
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function JSalert(id,message,object,group,criticity,category,hostname,weight){
        Swal({
            title: 'Are you sure to delete ?',
            html:
            `<table class="table">
<tr>
<th>ID</th>
<th>Message</th>
<th>Object</th>
<th>Criticity</th>
    </tr>
<tr>
<td>`+id+`</td>
<td>`+message+`</td>
<td>`+object+`</td>
<td>`+criticity+`</td> 
    </tr>

<tr>
<th>Group</th>
<th>Category</th>
<th>Hostname</th>
<th>Weight</th>
    </tr>
<tr>
<td>`+group+`</td>
<td>`+category+`</td> 
<td>`+hostname+`</td> 
<td>`+weight+`</td> 
    </tr>
    </table>`,
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            width:800,

        }).then((result) => {
            if (result.value) { //if confirmation to delete
                Swal(
                    'Deleted!',
                    'The correspondance is deleted from the table',
                    'success'
                ),
                    deleteBdd(id);
            }
        })
    }

    function addBdd(message,object,group,criticity,category,hostname,weight){
        $.ajax({
            url: '/add_bdd',
            data: {'type':"grp_crt",'message': message, 'object': object, 'group': group, 'criticity': criticity, 'category': category, 'hostname': hostname, 'weight': weight },
            //type: 'POST',
            dataType: 'json',
            success : function(){
                loadData(); //Refresh datas of the table
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function editBdd(message,object,group,criticity,category,hostname,weight){
        $.ajax({
            url: '/edit_bdd',
            data: {'type': "grp_crt",'my_id':my_id, 'message': message, 'object': object, 'group': group, 'criticity': criticity, 'category': category, 'hostname': hostname, 'weight': weight },
            //type: 'POST',
            dataType: 'json',
            success : function(){
                loadData();//Refresh datas of the table
            },
            error: function(error) {
                console.log(error);
            }
        }); 
    }

    function displayError(listOfErrors){
        var list_errors = {
            1 : "All text fields must be filled",
            2 : "The group doesn't exist in the list",
            3 : "The category doesn't exist in the list",
            4 : "The criticity doesn't exist in the list",          
        }
        var parents = document.getElementById("display_error");
        parents.innerHTML = ""; //clear the last error

        //display all error in listOfErrors
        for (var i = 0; i < listOfErrors.length; i++){
            var li = document.createElement('li');
            li.innerHTML = list_errors[listOfErrors[i]];
            li.style.color = 'red';
            parents.appendChild(li);
        }
    }

    function checkData(){
        var new_message = document.getElementById("message_modal").value;
        var new_object = document.getElementById("object_modal").value;
        var new_group = document.getElementById("group_modal").value;
        var new_criticity = document.getElementById("criticity_modal").value;
        var new_category = document.getElementById("category_modal").value;
        var new_hostname = document.getElementById("hostname_modal").value;
        var new_weight = document.getElementById("weight_modal").value;

        var listOfErrors = new Array;//Add error in listOfErrors

        if(!new_message || !new_object || !new_group || !new_criticity || !new_category || !new_hostname || !new_weight){
            listOfErrors.push(1);
        }

        if(list_group_data.indexOf(new_group) == -1){
            listOfErrors.push(2);
        }

        if(list_category_data.indexOf(new_category) == -1){
            listOfErrors.push(3);
        }

        if(list_criticity_data.indexOf(new_criticity) == -1){
            listOfErrors.push(4);
        }

        if (listOfErrors.length == 0){
            if (type == "add"){
                addBdd(new_message,new_object,new_group,new_criticity,new_category,new_hostname,new_weight);
                document.getElementById("validate_button").setAttribute("data-dismiss","modal");
            }else if (type == "edit"){
                editBdd(new_message,new_object,new_group,new_criticity,new_category,new_hostname,new_weight);
                document.getElementById("validate_button").setAttribute("data-dismiss","modal");
            }
        }
        displayError(listOfErrors);//function for display all errors    
    }

    function isNotAdmin(){
        $(".admin").remove();
    }



</script>
<script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
{% endblock %}