<!-- Modal Popup for Details -->                 
<div class="modal fade" id="myModal_top_problem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body modal-body-note">
            <div id="visualization_wrap">
                <div id="notes_time_line"></div>
                </div>
                <table width="100%" class="table table-bordered table-hover table-striped" id="details-table-top">
                     <thead>
                     <tr>
                         <th>Problem</th>
                         <th>Date alert</th>
                         <th>Server</th>
                         <th>Object</th>
                         <th>Message</th>
                         <th>Ticket number</th>
                     </tr>
                     </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

