{% load staticfiles %}
{% block content %}
{% load static%}
<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Autobot Alerts and Incident Management">
        <meta name="keyword" content="Bootstrap Angular">

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

        <title>Autobot - DEV</title>
    </head>
    <body>
    </body>
</html>

{% endblock %}
