{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Breadcrumb -->
<ol class="breadcrumb" style="margin-bottom: 0px !important">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Workflow</li>
</ol>
<div id="loader" style="display:block;background-image: url('../static/img/robot_loader.gif'); background-position: center;  background-repeat: no-repeat; background-color: white "></div>
<div id="myDiv" style="display:none;margin-top: 2%">
    <div class="container-fluid">
        <div class="animated fadeIn">
            <!-- <div class="row"> -->
            <div class="col-sm-12 col-md-12">
                <div class="card" ng-controller="RadarCtrl">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-5">
                                <h4 class="card-title mb-0">Top Workflow</h4>
                                <div class="small text-muted">{{today}}</div>
                            </div>
                            <!--/.col-->
                            <div class="col-sm-7 hidden-sm-down">
                                <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
</button>-->
                                <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                        <label class="btn btn-outline-secondary active" ng-click="chooseDaterange('day')">
                                            <input type="radio" name="options" id="option1" value="day" checked="">Day
                                        </label>
                                        <label class="btn btn-outline-secondary" ng-click="chooseDaterange('week')">
                                            <input type="radio" name="options" id="option2" value="week">Week
                                        </label>
                                        <label class="btn btn-outline-secondary" ng-click="chooseDaterange('month')">
                                            <input type="radio" name="options" id="option3" value="month">Month
                                        </label>
                                        <label class="btn btn-outline-secondary" ng-click="chooseDaterange('year')">
                                            <input type="radio" name="options" id="option4" value="year">Year
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                        <div class="chart-wrapper" style="height:400px;margin-top:40px;">
                            <center>
                                <div id="no-workflow" style="padding-top:160px">
                                    <h2> Nothing to display </h2>
                                    <p>(No Workflow Data)</p>
                                </div>
                            </center> 
                            <canvas id="radar" class="chart chart-radar" chart-series="series" chart-data="data" chart-options="options" chart-labels="labels" chart-colors="colors"></canvas> 
                        </div>
                    </div>
                    <div class="card-footer">
                        <ul>
                            <li class="hidden-sm-down">
                                <strong>
                                    {[{createTicketCnt}]}<br>
                                    <a id="index3" class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[2]}]}|{[{workflow_details_type}]}">
                                        WINRM
                                    </a>
                                    ({[{createTicketPct}]})
                                </strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-yellow" role="progressbar" style="width: {[{ramUsagePct}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <strong>
                                    {[{serviceRestartCnt}]}<br>
                                    <a id="index1" class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[1]}]}|{[{workflow_details_type}]}">
                                        Service Restart
                                    </a>
                                    ({[{serviceRestartPct}]})</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-orange" role="progressbar" style="width: {[{serviceRestartPct}]}" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="hidden-sm-down">
                                <strong>
                                    {[{cpuUsageCnt}]}<br>
                                    <a id="index5" class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[4]}]}|{[{workflow_details_type}]}">
                                        CPU Usage
                                    </a>
                                    ({[{cpuUsagePct}]})</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-grey" role="progressbar" style="width:{[{createTicketPct}]}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="hidden-sm-down">
                                <strong>
                                    {[{osHealthCheckCnt+collectionCheckCnt}]} <br>
                                    <a id="index2" class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[5]}]}|{[{workflow_details_type}]}">
                                        Os Health Check
                                    </a>
                                    ({[{osHealthCheckPct}]})</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-green" role="progressbar" style="width:{[{diskSpacePct}]}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li class="hidden-sm-down">
                                <strong>
                                    {[{diskSpaceCnt}]}<br>
                                    <a id="index0" class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[3]}]}|{[{workflow_details_type}]}">
                                        Disk Space
                                    </a>
                                    ({[{ramUsagePct}]})</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-red" role="progressbar" style="width: {[{cpuUsagePct}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>
                            <li>
                                <strong>
                                    {[{ramUsageCnt}]}<br>
                                    <a id="index4" class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[0]}]}|{[{workflow_details_type}]}">
                                        RAM Usage
                                    </a>
                                    ({[{ramUsagePct}]})</strong>
                                <div class="progress progress-xs mt-2">
                                    <div class="progress-bar bg-blue" role="progressbar" style="width: {[{osHealthCheckPct}]}" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class="row" style= "background-color: #e4e5e6; padding-top: 1%;">
                        <div class="col-sm-6 col-md-4">
                            <div class="card card-inverse card-red">
                                <div class="card-block pb-0">
                                    <h4 class="mb-0">{[{sm0}]} <font size="4px">{[{timerange}]} </font> </h4>
                                    <p>CPU Usage</p>
                                </div>
                                <div class="chart-wrapper px-1" style="height:70px;">
                                    <canvas id="cpuUsageTrend" class="chart" height="70"></canvas>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-6 col-md-4">
                            <div class="card card-inverse card-orange">
                                <div class="card-block pb-0">
                                    <h4 class="mb-0">{[{sm1}]} <font size="4px"> {[{timerange}]} </font> </h4>
                                    <p>Service Restart</p>
                                </div>
                                <div class="chart-wrapper px-1" style="height:70px;">
                                    <canvas id="serviceRestartTrend" class="chart" height="70"></canvas>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4" >
                            <div class="card card-inverse card-green">
                                <div class="card-block pb-0">
                                    <h4 class="mb-0">{[{sm2}]} <font size="4px"> {[{timerange}]} </font> </h4>
                                    <p>Disk Space</p>
                                </div>
                                <div class="chart-wrapper px-1" style="height:70px;">
                                    <canvas id="diskSpaceTrend" class="chart" height="70"></canvas>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="card card-inverse card-yellow">
                                <div class="card-block pb-0">
                                    <h4 class="mb-0">{[{sm3}]} <font size="4px"> {[{timerange}]} </font> </h4>
                                    <p>RAM Usage</p>
                                </div>
                                <div class="chart-wrapper px-1" style="height:70px;">
                                    <canvas id="ramUseageTrend" class="chart" height="70"></canvas>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <div class="card card-inverse card-blue">
                                <div class="card-block pb-0">
                                    <h4 class="mb-0">{[{sm4}]} <font size="4px"> {[{timerange}]} </font> </h4>
                                    <p>Os Health Check</p>
                                </div>
                                <div class="chart-wrapper px-1" style="height:70px;">
                                    <canvas id="osHealthCheckTrend" class="chart" height="70"></canvas>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-6 col-md-4">
                            <div class="card card-inverse card-grey">
                                <div class="card-block pb-0">
                                    <h4 class="mb-0">{[{sm5}]} <font size="4px"> {[{timerange}]} </font> </h4>
                                    <p>winRM</p>
                                </div>
                                <div class="chart-wrapper px-1" style="height:70px;">
                                    <canvas id="createTicketTrend" class="chart" height="70"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- </div> -->
    </div>

</div>

</div>
<!-- /.conainer-fluid -->
{% include 'workflow_modal.html' %}

{% endblock %}

{% block scripts %}

<script>
    var workflow_data = {{arr_worfklow|safe}};
    var workflow_day = workflow_data[0];

</script>

<script>

    setTimeout(displayBlock, 1000);
    function displayBlock(){
        document.getElementById("myDiv").style.display = "block";
        document.getElementById("loader").style.display = "none";
        console.log("loading");
    }
    var workflow_cnt_day = {{workflow_cnt.day|safe}};
    //var workflow_cnt_week = {{workflow_cnt.week|safe}};
    //var workflow_cnt_month = {{workflow_cnt.month|safe}};
    //var workflow_cnt_year = {{workflow_cnt.year|safe}};
    //var labels = ['getsize','Service','server','ticket','RAM','CPU'];

    //		console.log("---------");
    //		console.log("workflow_cnt_day");
    //		console.log(workflow_cnt_day);
    //		console.log("---------");


    var myApp = angular.module('app', ['chart.js']);
    myApp.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

    myApp.controller("RadarCtrl", function ($scope,$window){
        console.log([{{workflow_cnt.day|safe}}]);
        $scope.workflowTypes = ['RAM','service_restart','winRM','disk_space','CPU','server'];
        $scope.labels = ['Disk Space','Service Restart','OS Health Check','winRM','RAM Usage','CPU Usage'];
        $scope.data = [{{workflow_cnt.day|safe}}];
        $scope.colors = [{
            backgroundColor: 'rgba(148,159,177,0.2)',
            borderColor : 'rgba(148,159,177,1)',
            pointColor : 'rgba(148,159,177,1)',
            pointBorderColor : '#fff',
        }];
        console.log($scope.colors);

        $scope.options = {
            maintainAspectRatio: false,
            scale: {
                ticks: {
                    beginAtZero: false,
                    min:-0.5  
                }
            },
            'onClick' : function (evt, item) {
                if ( item.length > 0){
                    var index = item[0]["_index"];
                    console.log(index);
                    var id = "index"+index;
                    $('#'+id).click();
                }
            }
        };
        console.log($scope);

        var lday = $window.workflow_data[0];
        $window.workflow_getsize = lday[0];
        $window.workflow_service    = lday[1];
        $window.workflow_server    = lday[2];
        $window.workflow_ticket     = lday[3];
        $window.workflow_ram  = lday[4];
        $window.workflow_cpu  = lday[5];

        //$scope.data = {{workflow_cnt.day|safe}};
        $scope.cpuUsageCnt = {{workflow_cnt.day.5|safe}};
                     $scope.serviceRestartCnt = {{workflow_cnt.day.1|safe}};
                     $scope.diskSpaceCnt = {{workflow_cnt.day.0|safe}};
                     $scope.ramUsageCnt = {{workflow_cnt.day.4|safe}};
                     $scope.osHealthCheckCnt = {{workflow_cnt.day.2|safe}};
                     $scope.createTicketCnt = {{workflow_cnt.day.3|safe}};

                     $scope.cpuUsagePct = "{{workflow_pct.day.CPU_pct|safe}}";
                     $scope.serviceRestartPct = "{{workflow_pct.day.service_pct|safe}}";
                     $scope.diskSpacePct = "{{workflow_pct.day.getsize_pct|safe}}";
                     $scope.ramUsagePct = "{{workflow_pct.day.RAM_pct|safe}}";
                     $scope.osHealthCheckPct = "{{workflow_pct.day.server_pct|safe}}";
                     $scope.createTicketPct = "{{workflow_pct.day.ticket_pct|safe}}";

                     $scope.sm0 = $window.workflow_getsize.reduce((pv, cv) => pv+cv, 0); //[$window.alerts_total.length-1];
    $scope.sm1 = $window.workflow_service.reduce((pv, cv) => pv+cv, 0);
    $scope.sm2 = $window.workflow_server.reduce((pv, cv) => pv+cv, 0);
    $scope.sm3 = $window.workflow_ticket.reduce((pv, cv) => pv+cv, 0);
    $scope.sm4 = $window.workflow_ram.reduce((pv, cv) => pv+cv, 0);
    $scope.sm5 = $window.workflow_cpu.reduce((pv, cv) => pv+cv, 0);
    $scope.timerange = "For The Last 7 Days"

    drawCardboard('day');

    $scope.chooseDaterange = function(choice){
        checkWorkflowCount(choice);

        if(choice=="day"){				
            i = 0;

            $scope.data = {{workflow_cnt.day|safe}};
        $scope.cpuUsageCnt = {{workflow_cnt.day.5|safe}};
    $scope.serviceRestartCnt = {{workflow_cnt.day.1|safe}};
    $scope.diskSpaceCnt = {{workflow_cnt.day.0|safe}};
    $scope.ramUsageCnt = {{workflow_cnt.day.4|safe}};
    $scope.osHealthCheckCnt = {{workflow_cnt.day.2|safe}};
    $scope.createTicketCnt = {{workflow_cnt.day.3|safe}};

    $scope.cpuUsagePct = "{{workflow_pct.day.CPU_pct|safe}}";
    $scope.serviceRestartPct = "{{workflow_pct.day.service_pct|safe}}";
    $scope.diskSpacePct = "{{workflow_pct.day.getsize_pct|safe}}";
    $scope.ramUsagePct = "{{workflow_pct.day.RAM_pct|safe}}";
    $scope.osHealthCheckPct = "{{workflow_pct.day.server_pct|safe}}";
    $scope.createTicketPct = "{{workflow_pct.day.ticket_pct|safe}}";

    $scope.timerange = "For The Last 7 Days";

    $scope.workflow_details_type = "day";



    }else if(choice=="week"){
        i = 1;
        $scope.data = [{{workflow_cnt.week|safe}}];
        $scope.cpuUsageCnt = {{workflow_cnt.week.5|safe}};
    $scope.serviceRestartCnt = {{workflow_cnt.week.1|safe}};
    $scope.diskSpaceCnt = {{workflow_cnt.week.0|safe}};
    $scope.ramUsageCnt = {{workflow_cnt.week.4|safe}};
    $scope.osHealthCheckCnt = {{workflow_cnt.week.2|safe}};
    $scope.createTicketCnt = {{workflow_cnt.week.3|safe}};

    $scope.cpuUsagePct = "{{workflow_pct.week.CPU_pct|safe}}";
    $scope.serviceRestartPct = "{{workflow_pct.week.service_pct|safe}}";
    $scope.diskSpacePct = "{{workflow_pct.week.getsize_pct|safe}}";
    $scope.ramUsagePct = "{{workflow_pct.week.RAM_pct|safe}}";
    $scope.osHealthCheckPct = "{{workflow_pct.week.server_pct|safe}}";
    $scope.createTicketPct = "{{workflow_pct.week.ticket_pct|safe}}";
    $scope.timerange = "For The Last 3 Weeks";

    $scope.workflow_details_type = "week";
    //					drawCardboard(choice);

    }else if(choice=="month"){
        i = 2;
        $scope.data = [{{workflow_cnt.month|safe}}];
        $scope.cpuUsageCnt = {{workflow_cnt.month.5|safe}};
    $scope.serviceRestartCnt = {{workflow_cnt.month.1|safe}};
    $scope.diskSpaceCnt = {{workflow_cnt.month.0|safe}};
    $scope.ramUsageCnt = {{workflow_cnt.month.4|safe}};
    $scope.osHealthCheckCnt = {{workflow_cnt.month.2|safe}};
    $scope.createTicketCnt = {{workflow_cnt.month.3|safe}};

    $scope.cpuUsagePct = "{{workflow_pct.month.CPU_pct|safe}}";
    $scope.serviceRestartPct = "{{workflow_pct.month.service_pct|safe}}";
    $scope.diskSpacePct = "{{workflow_pct.month.getsize_pct|safe}}";
    $scope.ramUsagePct = "{{workflow_pct.month.RAM_pct|safe}}";
    $scope.osHealthCheckPct = "{{workflow_pct.month.server_pct|safe}}";
    $scope.createTicketPct = "{{workflow_pct.month.ticket_pct|safe}}";

    $scope.timerange = "For The Last 3 Months";

    $scope.workflow_details_type = "month";
    //					drawCardboard(choice);
    }else{
        $scope.data = [{{workflow_cnt.year|safe}}];
        $scope.cpuUsageCnt = {{workflow_cnt.year.5|safe}};
    $scope.serviceRestartCnt = {{workflow_cnt.year.1|safe}};
    $scope.diskSpaceCnt = {{workflow_cnt.year.0|safe}};
    $scope.ramUsageCnt = {{workflow_cnt.year.4|safe}};
    $scope.osHealthCheckCnt = {{workflow_cnt.year.2|safe}};
    $scope.createTicketCnt = {{workflow_cnt.year.3|safe}};

    $scope.cpuUsagePct = "{{workflow_pct.year.CPU_pct|safe}}";
    $scope.serviceRestartPct = "{{workflow_pct.year.service_pct|safe}}";
    $scope.diskSpacePct = "{{workflow_pct.year.getsize_pct|safe}}";
    $scope.ramUsagePct = "{{workflow_pct.year.RAM_pct|safe}}";
    $scope.osHealthCheckPct = "{{workflow_pct.year.server_pct|safe}}";
    $scope.createTicketPct = "{{workflow_pct.year.ticket_pct|safe}}";

    $scope.timerange = "For The Last 3 Months";
    $scope.workflow_details_type = "year";
    //					drawCardboard(choice);
    }
    if (choice != "year"){
        var lday = $window.workflow_data[i];
        $window.workflow_getsize = lday[0];
        $window.workflow_service    = lday[1];
        $window.workflow_server    = lday[2];
        $window.workflow_ticket     = lday[3];
        $window.workflow_ram  = lday[4];
        $window.workflow_cpu  = lday[5];


        $scope.sm0 = $window.workflow_getsize.reduce((pv, cv) => pv+cv, 0); //[$window.alerts_total.length-1];
        $scope.sm1 = $window.workflow_service.reduce((pv, cv) => pv+cv, 0);
        $scope.sm2 = $window.workflow_server.reduce((pv, cv) => pv+cv, 0);
        $scope.sm3 = $window.workflow_ticket.reduce((pv, cv) => pv+cv, 0);
        $scope.sm4 = $window.workflow_ram.reduce((pv, cv) => pv+cv, 0);
        $scope.sm5 = $window.workflow_cpu.reduce((pv, cv) => pv+cv, 0);

        console.log($scope.sm0);

        $( "#diskSpaceTrend" ).replaceWith("<canvas id='diskSpaceTrend' class='chart' height='70'></canvas>" );
        $( "#serviceRestartTrend" ).replaceWith("<canvas id='serviceRestartTrend' class='chart' height='70'></canvas>" );
        $( "#osHealthCheckTrend" ).replaceWith("<canvas id='osHealthCheckTrend' class='chart' height='70'></canvas>");
        $( "#createTicketTrend" ).replaceWith("<canvas id='createTicketTrend' class='chart' height='70'></canvas>" );
        $( "#ramUseageTrend" ).replaceWith("<canvas id='ramUseageTrend' class='chart' height='70'></canvas>" );
        $( "#cpuUsageTrend" ).replaceWith("<canvas id='cpuUsageTrend' class='chart' height='70'></canvas>" );


        $scope.workflow_details_type = "year";

        drawCardboard(choice);		
    }	
    };

    });

    function drawCardboard(choice){
        var d = new Date();
        var weekday = new Array(7);
        weekday[0] = "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";
        var months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        var labels2 = [];
        for (var i=0; i<7; i++) {
            var d = new Date();
            d.setDate(d.getDate() - i);
            labels2.push( weekday[d.getDay()] )
        }
        labels = labels2.reverse();
        var arr = workflow_data[0]

        if (choice == "week"){     
            Date.prototype.getWeek = function() {
                var onejan = new Date(this.getFullYear(), 0, 1);
                return Math.ceil((((this - onejan) / 86400000) + onejan.getDay() + 1) / 7);
            }
            var weekNumber = (new Date()).getWeek();
            var tab = ["Week "+(weekNumber-2),"Week "+(weekNumber-1),"Week "+(weekNumber)]
            labels = tab;

        } else if (choice == "month" || choice == "year"){
            var d = new Date();
            var n = d.getMonth();
            var tab = new Array(3);
            for (var i=2;i>=0;i--){
                //var t = [months[n-2],months[n-1],months[n]];
                var pos = n - i;
                if (n-i < 0){
                    var pos = 12 + (n-i)
                    }
                tab[2-i] = months[pos];
            }
            labels = tab;
        }

        if (choice == "day" || choice == "week" || choice == "month" || choice == "year"){                

            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                title : {
                    display: true,
                    text: '',
                    fontSize: 1
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },
            };
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.3)',
                        borderColor: 'transparent',
                        data: workflow_cpu
                    },
                ]
            };
            var ctx = $('#cpuUsageTrend');
            var cardChart1 = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });

            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                title : {
                    display: true,
                    text: '',
                    fontSize: 1
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },

            };
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.3)',
                        borderColor: 'transparent',
                        data: workflow_ram
                    },
                ]
            };
            var ctx = $('#ramUseageTrend');
            var cardChart2 = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });

            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                title : {
                    display: true,
                    text: '',
                    fontSize: 1
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },
            };
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.3)',
                        borderColor: 'transparent',
                        data: workflow_service
                    },
                ]
            };
            var ctx = $('#serviceRestartTrend');
            var cardChart3 = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });

            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                title : {
                    display: true,
                    text: '',
                    fontSize: 1
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },

            };
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.3)',
                        borderColor: 'transparent',
                        data: workflow_getsize
                    },
                ]
            };
            var ctx = $('#diskSpaceTrend');
            var cardChart4 = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });

            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                title : {
                    display: true,
                    text: '',
                    fontSize: 1
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },

            };
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.3)',
                        borderColor: 'transparent',
                        data: workflow_server
                    },
                ]
            };
            var ctx = $('#osHealthCheckTrend');
            var cardChart5 = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });

            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                title : {
                    display: true,
                    text: '',
                    fontSize: 1
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false,
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        scaleLabel: {
                            display: false
                        },
                        ticks: {
                            display: false
                        }
                    }],
                },
                tooltips: {
                    enabled: false,
                    custom: function(tooltipModel){
                        // Tooltip Element
                        var tooltipEl = document.getElementById(this._chart.canvas.id + '-chartjs-tooltip');
                        //var currentChart = $("#" + this._chart.canvas.id);
                        //var tooltipEl = currentChart.parent().find('#chartjs-tooltip');
                        tooltipModel.labelColors = ['black'];
                        // Create element on first render
                        if (!tooltipEl) {
                            tooltipEl = document.createElement('div');
                            tooltipEl.id = this._chart.canvas.id + '-chartjs-tooltip';
                            tooltipEl.innerHTML = "<table></table>";
                            //document.body.appendChild(tooltipEl);
                            $("#" + this._chart.canvas.id).parent().append(tooltipEl);
                        }
                        //tooltipEl = tooltipEl[0];

                        if(tooltipEl == undefined){
                            console.log("undefined tooltipEl :: " + tooltipEl);
                            alert("undefined tooltipEl");
                        }
                        console.log(tooltipModel.opacity + " :: " + tooltipEl.style.opacity);
                        // Hide if no tooltip
                        if (tooltipModel.opacity === 0) {
                            tooltipEl.style.opacity = 0;
                            return;
                        }

                        // Set caret Position
                        tooltipEl.classList.remove('above', 'below', 'no-transform');
                        if (tooltipModel.yAlign) {
                            tooltipEl.classList.add(tooltipModel.yAlign);
                        } else {
                            tooltipEl.classList.add('no-transform');
                        }

                        function getBody(bodyItem) {
                            return bodyItem.lines;
                        }

                        // Set Text
                        if (tooltipModel.body) {
                            var titleLines = tooltipModel.title || [];
                            var bodyLines = tooltipModel.body.map(getBody);

                            var innerHtml = '<thead>';

                            titleLines.forEach(function(title) {
                                innerHtml += '<tr><th>' + title + '</th></tr>';
                            });
                            innerHtml += '</thead><tbody>';

                            bodyLines.forEach(function(body, i) {
                                var colors = tooltipModel.labelColors[i];
                                var style = 'background:' + colors.backgroundColor;
                                style += '; border-color:' + colors.borderColor;
                                style += '; border-width: 2px';
                                var span = '<span style="' + style + '"></span>';
                                innerHtml += '<tr><td>' + span + body + '</td></tr>';
                            });
                            innerHtml += '</tbody>';

                            var tableRoot = tooltipEl.querySelector('table');
                            tableRoot.innerHTML = innerHtml;
                        }

                        // `this` will be the overall tooltip
                        //var position = this._chart.canvas.getBoundingClientRect();
                        var position = $("#" + this._chart.canvas.id).position();
                        // Display, position, and set styles for font
                        tooltipEl.style.opacity = 1;
                        tooltipEl.style.position = 'absolute';
                        tooltipEl.style.left = position.left + tooltipModel.x + 'px';
                        tooltipEl.style.top = position.top + tooltipModel.y + 'px';
                        tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
                        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
                        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
                        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
                        tooltipEl.style.background = '#263238';
                    }
                },

            };
            var data = {
                labels: labels,
                datasets: [
                    {
                        label: 'Count',
                        backgroundColor: 'rgba(255,255,255,.3)',
                        borderColor: 'transparent',
                        data: workflow_ticket
                    },
                ]
            };
            var ctx = $('#createTicketTrend');
            var cardChart6 = new Chart(ctx, {
                type: 'line',
                data: data,
                options: options
            });

        }

    }



    //no workflow data
    $("#no-workflow").hide();
    checkWorkflowCount("day");
    //		drawCardboard("day");
    function checkWorkflowCount(period){
        var workflowCnt = {{ workflow_cnt | safe }};
    var workflowSum = 0;
    for( var el in workflowCnt[period] ) {
        if( workflowCnt[period].hasOwnProperty( el ) ) {
            workflowSum += parseFloat( workflowCnt[period][el] );
        }
    }
    if(workflowSum== 0){
        $("#no-workflow").show();
        $("#radar").hide();
    }else{
        $("#no-workflow").hide();
        $("#radar").show();
    }
    }

    $(document).on("click", ".click_details", function () {
        $('#details-table').dataTable().fnClearTable();
        $('#details-table').dataTable().fnDraw();
        $('#details-table').dataTable().fnDestroy();
        var detailsValue = $(this).attr("value").split("|");
        var workflowName = detailsValue[0];
        var dateType = document.getElementsByClassName('btn-outline-secondary active')[0].children[0].value;

        //$(".modal-header #modal-ticket-no").text(region);
        console.log(dateType);
        console.log(workflowName);
        $.ajax({
            url: '/workflow_details',
            data: {'workflow': workflowName, 'dateType': dateType},
            //type: 'POST',
            dataType: "json",
            success: function(data) {
                console.log(data);
                $('#details-table').DataTable({
                    responsive: true,
                    data: data['workflow_details'],
                    columns: [
                        { title: "Workflow" },
                        { title: "Server Name" },
                        { title: "Date Alert" },
                        { title: "Message" },
                        { title: "Object" },
                        { title: "Ticket" },
                    ],
                    dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                    buttons: [
                        {extend: 'excel', title: 'Server Details', text: 'Excel', titleAttr: 'Excel'},
                    ],
                });
                $('.modal-title').text("Details - "  + workflowName.toUpperCase());
                console.log("test");
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>
<script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatables/jszip.min.js' %}"></script>
<script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
</script>
{% endblock %}

