{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Workflow</li>

                <!-- Breadcrumb Menu-->
                <!--
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                        <a class="btn btn-secondary" href="#"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                        <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                    </div>
                </li>
                -->
            </ol>

            <div class="container-fluid">
                <div class="animated fadeIn">
                  <div class="row">
                  <div class="col-sm-12 col-md-12">
                    <div class="card" ng-controller="RadarCtrl">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4 class="card-title mb-0">Workflow</h4>
                                    <div class="small text-muted">{{today}}</div>
                                </div>
                                <!--/.col-->
                                <div class="col-sm-7 hidden-sm-down">
                                    <!--<button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
                                    </button>-->
                                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                                            <label class="btn btn-outline-secondary active" ng-click="chooseDaterange('day')">
                                                <input type="radio" name="options" id="option1" checked="">Day
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('week')">
                                                <input type="radio" name="options" id="option2" ">Week
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('month')">
                                                <input type="radio" name="options" id="option3" ">Month
                                            </label>
                                            <label class="btn btn-outline-secondary" ng-click="chooseDaterange('year')">
                                                <input type="radio" name="options" id="option4">Year
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                            <!--/.row-->
                            <div class="chart-wrapper" style="height:400px;margin-top:40px;">
                                <canvas id="radar" class="chart chart-radar" chart-series="series" chart-data="data" chart-options="options" chart-labels="labels"></canvas> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <ul>
                                <li class="hidden-sm-down">
                                    <strong>{[{cpuUsageCnt}]}<br>CPU Usage<br>({[{cpuUsagePct}]})</strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar bg-red" role="progressbar" style="width: {[{cpuUsagePct}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <a class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[0]}]}|{[{workflow_details_type}]}">View Details</a>
                                </li>
                                <li>
                                    <strong>{[{serviceRestartCnt}]}<br>Service Restart<br>({[{serviceRestartPct}]})</strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar bg-orange" role="progressbar" style="width: {[{serviceRestartPct}]}" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <a class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[1]}]}|{[{workflow_details_type}]}">View Details</a>
                                </li>
                                <li class="hidden-sm-down">
                                    <strong>{[{diskSpaceCnt}]}<br>Disk Space<br>({[{diskSpacePct}]})</strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar bg-green" role="progressbar" style="width:{[{diskSpacePct}]}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <a class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[2]}]}|{[{workflow_details_type}]}">View Details</a>
                                </li>
                                <li class="hidden-sm-down">
                                    <strong>{[{ramUsageCnt}]}<br>RAM Usage<br>({[{ramUsagePct}]})</strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar bg-yellow" role="progressbar" style="width: {[{ramUsagePct}]}" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <a class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[3]}]}|{[{workflow_details_type}]}">View Details</a>
                                </li>
                                <li>
                                    <strong>{[{osHealthCheckCnt+collectionCheckCnt}]}<br>Os Health Check<br>({[{osHealthCheckPct}]})</strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar bg-blue" role="progressbar" style="width: {[{osHealthCheckPct}]}" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <a class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[4]}]}|{[{workflow_details_type}]}">View Details</a>
                                </li>
                                <li class="hidden-sm-down">
                                    <strong>{[{createTicketCnt}]}<br>Create Ticket<br>({[{createTicketPct}]})</strong>
                                    <div class="progress progress-xs mt-2">
                                        <div class="progress-bar bg-grey" role="progressbar" style="width:{[{createTicketPct}]}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <a class="font-weight-bold font-xs btn-block click_details" href="#" data-toggle="modal" data-target="#myModal" value="{[{workflowTypes[5]}]}|{[{workflow_details_type}]}">View Details</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/.card-->
                  </div>
                    
                    <div class="col-sm-6 col-md-4">
                        <div class="card card-inverse card-danger">
                            <div class="card-block pb-0">
                                <h4 class="mb-0">{{workflow_cnt.year.CPU_Usage|safe}}</h4>
                                <p>CPU Usage</p>
                            </div>
                            <div class="chart-wrapper px-3" style="height:70px;">
                                <canvas id="cpuUsageTrend" class="chart" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
 
                  
                    <div class="col-sm-6 col-md-4">
                        <div class="card card-inverse card-warning">
                            <div class="card-block pb-0">
                                <h4 class="mb-0">{{workflow_cnt.year.Service_Restart|safe}}</h4>
                                <p>Service Restart</p>
                            </div>
                            <div class="chart-wrapper px-3" style="height:70px;">
                                <canvas id="serviceRestartTrend" class="chart" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->

                    <div class="col-sm-6 col-md-4" >
                        <div class="card card-inverse card-primary">
                            <div class="card-block pb-0">
                                <h4 class="mb-0">{{workflow_cnt.year.Disk_Space|safe}}</h4>
                                <p>Disk Space</p>
                            </div>
                            <div class="chart-wrapper px-3" style="height:70px;">
                                <canvas id="diskSpaceTrend" class="chart" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->

                    <div class="col-sm-6 col-md-4">
                        <div class="card card-inverse card-info">
                            <div class="card-block pb-0">
                                <h4 class="mb-0">{{workflow_cnt.year.RAM_Usage|safe}}</h4>
                                <p>RAM Usage</p>
                            </div>
                            <div class="chart-wrapper px-3" style="height:70px;">
                                <canvas id="ramUseageTrend" class="chart" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                    <div class="col-sm-6 col-md-4">
                        <div class="card card-inverse card-success">
                            <div class="card-block pb-0">
                                <h4 class="mb-0">{{workflow_cnt.year.Os_Health_Check|safe}}+{{workflow_cnt.year.Collection_Check|safe}}</h4>
                                <p>Os Health Check</p>
                            </div>
                            <div class="chart-wrapper px-3" style="height:70px;">
                                <canvas id="osHealthCheckTrend" class="chart" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->

                    <div class="col-sm-6 col-md-4">
                        <div class="card card-inverse card-default">
                            <div class="card-block pb-0">
                                <h4 class="mb-0">{{workflow_cnt.year.Create_Ticket|safe}}</h4>
                                <p>Create Ticket</p>
                            </div>
                            <div class="chart-wrapper px-3" style="height:70px;">
                                <canvas id="createTicketTrend" class="chart" height="70"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->


                </div>
                </div>
                {% include 'workflow_modal.html' %}


            </div>
            <!-- /.conainer-fluid -->

{% endblock %}

{% block scripts %}

    <!-- Plugins and scripts required by this views -->

    <!-- Custom scripts required by this view -->
    <script>
        var cpuUsageTrd = {{workflow_trend.CPU_Usage|safe}};
        var serviceRestartTrd = {{workflow_trend.Service_Restart|safe}};
        var diskSpaceTrd = {{workflow_trend.Disk_Space|safe}};
        var ramUsageTrd = {{workflow_trend.RAM_Usage|safe}};
        var osHealthCheckTrd = {{workflow_trend.Os_Health_Check|safe}};
	var collectionCheckTrd = {{workflow_trend.Collection_Check|safe}};
        var osHCcCT = osHealthCheckTrd.map(function (num, idx) {
            return num + collectionCheckTrd[idx];
        });
        console.log(osHCcCT);
        var createTicketTrd = {{workflow_trend.Create_Ticket|safe}};
    </script>
    <script src="{% static 'js/views/workflow.js' %}"></script>
    
    <!-- Plugins and scripts required by this views -->

    <!-- Custom scripts required by this view -->
    <script>
        function merge_array(init_array){
            var first_data = init_array.slice(0,4);
            var sum_data = [init_array.slice(4,6).reduce((a, b) => a + b, 0)];
            var last_data = init_array.slice(6);
            return first_data.concat(sum_data,last_data);
        }
        var workflow_cnt_day = {{workflow_cnt.day|safe}};
        var workflow_cnt_week = {{workflow_cnt.week|safe}};
        var workflow_cnt_month = {{workflow_cnt.month|safe}};
        var workflow_cnt_year = {{workflow_cnt.year|safe}};
        var labels = ['CPU_Usage','Service_Restart','Disk_Space','RAM_Usage','Os_Health_Check','Collection_Check','Create_Ticket'];
        var data_day = [];
        var data_week = [];
        var data_month = [];
        var data_year = [];
        for(i=0;i<labels.length;i++){
            data_day.push(workflow_cnt_day[labels[i]]);
            data_week.push(workflow_cnt_week[labels[i]]);
            data_month.push(workflow_cnt_month[labels[i]]);
            data_year.push(workflow_cnt_year[labels[i]]);
        }

        //merge Os Health Cehck and Collection Check
        data_day = merge_array(data_day);
        data_week = merge_array(data_week);
        data_month = merge_array(data_month);
        data_year = merge_array(data_year);

 
        var myApp = angular.module('app', ['chart.js']);
        myApp.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        });

        myApp.controller("RadarCtrl", function ($scope){
            $scope.workflowTypes = ['CPU_Usage','Service_Restart','Disk_Space','RAM_Usage','Os_Health_Check','Create_Ticket'];
            $scope.labels = ['CPU Usage','Service Restart','Disk Space','RAM Usage','Os Health Check','Create Ticket'];
            $scope.series = ['Count'];
            $scope.data = [data_day];
          
            $scope.options = {
                maintainAspectRatio: false,
                scale: {
                    ticks: {
                        beginAtZero: false,
                        min:-0.5  
                    }
                }
            };
              
            $scope.cpuUsageCnt = {{workflow_cnt.day.CPU_Usage|safe}};
            $scope.serviceRestartCnt= {{workflow_cnt.day.Service_Restart|safe}};
            $scope.diskSpaceCnt = {{workflow_cnt.day.Disk_Space|safe}};
            $scope.ramUsageCnt = {{workflow_cnt.day.RAM_Usage|safe}};
            $scope.osHealthCheckCnt = {{workflow_cnt.day.Os_Health_Check|safe}};
            $scope.collectionCheckCnt = {{workflow_cnt.day.Collection_Check|safe}};
            $scope.createTicketCnt = {{workflow_cnt.day.Create_Ticket|safe}};

            $scope.cpuUsagePct = "{{workflow_pct.day.CPU_Usage|safe}}";
            $scope.serviceRestartPct = "{{workflow_pct.day.Service_Restart|safe}}";
            $scope.diskSpacePct = "{{workflow_pct.day.Disk_Space|safe}}";
            $scope.ramUsagePct = "{{workflow_pct.day.RAM_Usage|safe}}";
            $scope.osHealthCheckPct = parseInt("{{workflow_pct.day.Os_Health_Check|safe}}".replace('%',''))+parseInt("{{workflow_pct.day.Collection_Check|safe}}".replace('%',''))+"%";
            //$scope.osHealthCheckPct = "{{workflow_pct.day.Os_Health_Check|safe}}";
            $scope.collectionCheckPct = "{{workflow_pct.day.Collection_Check|safe}}";
            $scope.createTicketPct = "{{workflow_pct.day.Create_Ticket|safe}}";

            $scope.workflow_details_type = "day"

            $scope.chooseDaterange = function(choice){
                if(choice=="day"){
                    $scope.data= [data_day];
                    $scope.cpuUsageCnt = {{workflow_cnt.day.CPU_Usage|safe}};
                    $scope.serviceRestartCnt = {{workflow_cnt.day.Service_Restart|safe}};
                    $scope.diskSpaceCnt = {{workflow_cnt.day.Disk_Space|safe}};
                    $scope.ramUsageCnt = {{workflow_cnt.day.RAM_Usage|safe}};
                    $scope.osHealthCheckCnt = {{workflow_cnt.day.Os_Health_Check|safe}};
                    $scope.collectionCheckCnt = {{workflow_cnt.day.Collection_Check|safe}};
                    $scope.createTicketCnt = {{workflow_cnt.day.Create_Ticket|safe}};

                    $scope.cpuUsagePct = "{{workflow_pct.day.CPU_Usage|safe}}";
                    $scope.serviceRestartPct = "{{workflow_pct.day.Service_Restart|safe}}";
                    $scope.diskSpacePct = "{{workflow_pct.day.Disk_Space|safe}}";
                    $scope.ramUsagePct = "{{workflow_pct.day.RAM_Usage|safe}}";
                    $scope.osHealthCheckPct = parseInt("{{workflow_pct.day.Os_Health_Check|safe}}".replace('%',''))+parseInt("{{workflow_pct.day.Collection_Check|safe}}".replace('%',''))+"%";
                    //$scope.osHealthCheckPct = "{{workflow_pct.day.Os_Health_Check|safe}}";
                    $scope.collectionCheckPct = "{{workflow_pct.day.Collection_Check|safe}}";
                    $scope.createTicketPct = "{{workflow_pct.day.Create_Ticket|safe}}";

                    $scope.workflow_details_type = "day"
                }else if(choice=="week"){
                    $scope.data = [data_week];
                    $scope.cpuUsageCnt = {{workflow_cnt.week.CPU_Usage|safe}};
                    $scope.serviceRestartCnt = {{workflow_cnt.week.Service_Restart|safe}};
                    $scope.diskSpaceCnt = {{workflow_cnt.week.Disk_Space|safe}};
                    $scope.ramUsageCnt = {{workflow_cnt.week.RAM_Usage|safe}};
                    $scope.osHealthCheckCnt = {{workflow_cnt.week.Os_Health_Check|safe}};
                    $scope.collectionCheckCnt = {{workflow_cnt.week.Collection_Check|safe}};
                    $scope.createTicketCnt = {{workflow_cnt.week.Create_Ticket|safe}};

                    $scope.cpuUsagePct = "{{workflow_pct.week.CPU_Usage|safe}}";
                    $scope.serviceRestartPct = "{{workflow_pct.week.Service_Restart|safe}}";
                    $scope.diskSpacePct = "{{workflow_pct.week.Disk_Space|safe}}";
                    $scope.ramUsagePct = "{{workflow_pct.week.RAM_Usage|safe}}";
                    $scope.osHealthCheckPct = parseInt("{{workflow_pct.week.Os_Health_Check|safe}}".replace('%',''))+parseInt("{{workflow_pct.week.Collection_Check|safe}}".replace('%',''))+"%";
                    //$scope.osHealthCheckPct = "{{workflow_pct.week.Os_Health_Check|safe}}";
                    $scope.collectionCheckPct = "{{workflow_pct.week.Collection_Check|safe}}";
                    $scope.createTicketPct = "{{workflow_pct.week.Create_Ticket|safe}}";

                    $scope.workflow_details_type = "week"
                }else if(choice=="month"){
                    $scope.data = [data_month];
                    $scope.cpuUsageCnt = {{workflow_cnt.month.CPU_Usage|safe}};
                    $scope.serviceRestartCnt = {{workflow_cnt.month.Service_Restart|safe}};
                    $scope.diskSpaceCnt = {{workflow_cnt.month.Disk_Space|safe}};
                    $scope.ramUsageCnt = {{workflow_cnt.month.RAM_Usage|safe}};
                    $scope.osHealthCheckCnt = {{workflow_cnt.month.Os_Health_Check|safe}};
                    $scope.collectionCheckCnt = {{workflow_cnt.month.Collection_Check|safe}};
                    $scope.createTicketCnt = {{workflow_cnt.month.Create_Ticket|safe}};

                    $scope.cpuUsagePct = "{{workflow_pct.month.CPU_Usage|safe}}";
                    $scope.serviceRestartPct = "{{workflow_pct.month.Service_Restart|safe}}";
                    $scope.diskSpacePct = "{{workflow_pct.month.Disk_Space|safe}}";
                    $scope.ramUsagePct = "{{workflow_pct.month.RAM_Usage|safe}}";
                    $scope.osHealthCheckPct = parseInt("{{workflow_pct.month.Os_Health_Check|safe}}".replace('%',''))+parseInt("{{workflow_pct.month.Collection_Check|safe}}".replace('%',''))+"%";
                    //$scope.osHealthCheckPct = "{{workflow_pct.month.Os_Health_Check|safe}}";
                    $scope.collectionCheckPct = "{{workflow_pct.month.Collection_Check|safe}}";
                    $scope.createTicketPct = "{{workflow_pct.month.Create_Ticket|safe}}";

                    $scope.workflow_details_type = "month"
                }else{
                    $scope.data = [data_year];
                    $scope.cpuUsageCnt = {{workflow_cnt.year.CPU_Usage|safe}};
                    $scope.serviceRestartCnt = {{workflow_cnt.year.Service_Restart|safe}};
                    $scope.diskSpaceCnt = {{workflow_cnt.year.Disk_Space|safe}};
                    $scope.ramUsageCnt = {{workflow_cnt.year.RAM_Usage|safe}};
                    $scope.osHealthCheckCnt = {{workflow_cnt.year.Os_Health_Check|safe}};
                    $scope.collectionCheckCnt = {{workflow_cnt.year.Collection_Check|safe}};
                    $scope.createTicketCnt = {{workflow_cnt.year.Create_Ticket|safe}};

                    $scope.cpuUsagePct = "{{workflow_pct.year.CPU_Usage|safe}}";
                    $scope.serviceRestartPct = "{{workflow_pct.year.Service_Restart|safe}}";
                    $scope.diskSpacePct = "{{workflow_pct.year.Disk_Space|safe}}";
                    $scope.ramUsagePct = "{{workflow_pct.year.RAM_Usage|safe}}";
                    $scope.osHealthCheckPct = parseInt("{{workflow_pct.year.Os_Health_Check|safe}}".replace('%',''))+parseInt("{{workflow_pct.year.Collection_Check|safe}}".replace('%',''))+"%";
                    //$scope.osHealthCheckPct = "{{workflow_pct.year.Os_Health_Check|safe}}";
                    $scope.collectionCheckPct = "{{workflow_pct.year.Collection_Check|safe}}";
                    $scope.createTicketPct = "{{workflow_pct.year.Create_Ticket|safe}}";

                    $scope.workflow_details_type = "year"
                } 
            };
        });
//get details for to be updated wks
// onclick details
$(document).on("click", ".click_details", function () {
    $('#details-table').dataTable().fnClearTable();
    $('#details-table').dataTable().fnDraw();
    $('#details-table').dataTable().fnDestroy();
    var detailsValue = $(this).attr("value").split("|");
    var workflowName = detailsValue[0];
    var dateType = detailsValue[1];
    //$(".modal-header #modal-ticket-no").text(region);

    $.ajax({
        url: '/workflow_details',
        data: {'workflow': workflowName, 'dateType': dateType},
        //type: 'POST',
        dataType: "json",
        success: function(data) {
            console.log(data);
            $('#details-table').DataTable({
                responsive: true,
                data: data['workflow_details'],
                columns: [
                   { title: "Workflow" },
                   { title: "Server Name" },
                   { title: "Date Alert" },
                   { title: "Message" },
                   { title: "Ticket" },
                   { title: "Count" },
                ],
                dom: 'r<"col-sm-3"l><"col-xs-3 col-sm-7"f><"col-sm-1 text-right"B><"table-fix"t>i<"legend">p',
                buttons: [
                    {extend: 'excel', title: 'Server Details', text: 'Excel', titleAttr: 'Excel'},
                ],
            });
        },
        error: function(error) {
            console.log(error);
        }
    });
});
    </script>
    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'js/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/datatables/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/datatables/buttons.html5.min.js' %}"></script>
    </script>
{% endblock %}

