.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.in {
    opacity: 0.5;
}
.modal.in .modal-dialog {
    transform: translate(0, 0);
}
.table-fix {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}
div.dataTables_info {
    float: left;
}
div.dataTables_paginate {
    float: right;
}
.datatable td {
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
}

#dataTable thead{
    background: white;
}

#dataTable .dt-buttons{
    float: right !important;
    padding-left: 5% !important;
}